<div id="content">
  <div class="news-carousel-wrapper">
    <dl id="news-carousel" class="news-carousel-style">
      <%= render 'properties/news_carousel'%>
    </dl>
  </div>
  <div class="container" style="width:1230px">
    <div class="panel">
<!--       <div class="box-line">
        <h3 class="title-heading">Please complete the form</h3>
      </div> -->
      <%if params[:action]=="edit"%>
        <% url = tenant_path(@tenant) %>
      <%else%>
        <% url = tenants_path%>
      <%end%>

      <ul class="nav nav-tabs" style="margin:30px; margin-bottom:0;border-bottom:none">
        <li class="active"><a href="#tenant_profile">Profile</a></li>
        <li><a href="#contact_manager">Contact Manager</a></li>
      </ul>

      <div class="proper-form-step" style="padding-top:0;margin: 0">
        <div class="tab-content" style="background: none !important;border:none !important">
          <%= render :partial => "tenants/profile", :locals=>{:url=>url} %>
          <%= render :partial => "tenants/contact_manager", :locals=>{:url=>url} %>
        </div>
      </div>
    </div>
  </div>
</div>

<style type="text/css">
  select{
    width: 100% !important;
  }
  
  .input-block-level{
    display: inline-block;
    width: 250px !important;
    float: right;
  }
  label{
    display: inline-block;
    width: auto;
    margin: 5px
  }
  #user_dob_1i{
    width: 20% !important;
    float: right;
  }
  #user_dob_2i{
    width: 30% !important;
    float: right;
  }
  #user_dob_3i{
    width: 15% !important;
    float: right;
  }
  .span5{
    margin-left: 0
  }
  #q_category_cont, #q_property_type, #q_beds_eq{
    float: right;
    width: 70% !important
  }
</style>
<script type="text/javascript">
  $(".submit-btn").click(function(e){
    var d = parseInt($("#user_dob_3i option:selected" ).text())
    var m = parseInt($("#user_dob_2i option:selected" ).val())
    var y = parseInt($("#user_dob_1i option:selected" ).text())
    if(isNaN(d) || isNaN(m) || isNaN(y)){
      e.preventDefault();
      alert("Please Enter your Date of Birth")
    }else if (new Date(y,m-1,d).getTime() > new Date().getTime() ){
      e.preventDefault();
      alert("cannot be future date")
    }
  })

  $(".nav-tabs a").click(function(){
    $(this).tab('show');
  });
</script>