<p>New User Registered on Seal Properties as <b><%=@user.status%></b>. Following are the details:</p>

<p><%= "Name: #{@user.first_name} #{@user.last_name}" %></p>

<p><%= "Email: #{@user.email}" %></p>

<p><%= "Phone: #{@user.phone}" %></p>
