

            <!--Start Content-->
            <div id="content">
                <!--Start Main Title-->
                <div id="main-title-content">
                    <img src="assets/properties/slider/fslider/p1.jpg" id="bg" alt="main-title"/>
                    <div class="container">
                        <div class="panel">
                            <h1>About Us</h1>    
                            <p>Sub Title Here</p>    
                        </div>
                    </div>
                </div> <!--End Main Title-->
                <!--    News Carousel-->
                <div class="news-carousel-wrapper">
                    <dl id="news-carousel" class="news-carousel-style">
                        <dt><a href="#">News Link Here</a></dt>
                        <dd>Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet.</dd>
                        <dt><a href="#">Promo Link Here</a></dt>
                        <dd>Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet.</dd>
                        <dt><a href="#">Another Link Here</a></dt>
                        <dd>Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet.</dd>
                    </dl>
                </div>
                <!--    End News Carousel-->
                <div class="container">
                    <div class="panel">
                        <!--Start Mission Wrapper-->
                        <div class="box-line"> 
                            <h1 class="title-heading">Our Mission</h1>
                        </div>
                        <div class="row-fluid">
                            <div class="span4">
                                <div class="dialog-box-style">
                                    <h3><span class="main-circle-icon"><i class="icon-arrow-right"></i></span> Lead An Seel</h3>
                                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...</p>
                                </div>
                                <div class="arrow-bottom"></div>
                                <img src="assets/agents/a3.jpg" alt="people"/>
                            </div>
                            <div class="span4">
                                <div class="dialog-box-style">
                                    <h3><span class="main-circle-icon"><i class="icon-arrow-right"></i></span> Lead An Seel</h3>
                                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...</p>
                                </div>
                                <div class="arrow-bottom"></div>
                                <img src="assets/agents/a4.jpg" alt="people"/>
                            </div>
                            <div class="span4">
                                <div class="dialog-box-style">
                                    <h3><span class="main-circle-icon"><i class="icon-arrow-right"></i></span> Lead An Seel</h3>
                                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...</p>
                                </div>
                                <div class="arrow-bottom"></div>
                                <img src="assets/agents/a1.jpg" alt="people"/>
                            </div>
                        </div>
                        <!--End Mission Wrapper-->
                        <div class="row-fluid">
                            <!--Start History Wrapper-->
                            <div class="span6">
                                <div class="box-line"> 
                                    <h3 class="title-heading">History Company</h3>
                                </div>
                                <div class="box-white">
                                    <h4>2012-2013</h4>
                                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem</p>
                                </div>
                                <div class="box-white">
                                    <h4>2012-2011</h4>
                                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem</p>
                                </div>
                              </div>
                            <div class="span6">
                                <!--Start Video Presentation Wrapper-->
                                <div class="box-line"> 
                                    <h3 class="title-heading">Presentation Company</h3>
                                </div>
                                <div class="box-white">
                                    <iframe src="http://player.vimeo.com/video/46030609?portrait=0"  width="100%" height="350" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                                </div>
                            </div>
                        </div>
                        <div class="box-line"> 
                            <h3 class="title-heading">Our Patners</h3>
                        </div>
                        <div class="box-white text-center">
                            <img src="assets/patner/p1.png" alt="patner"/>
                            <img src="assets/patner/p2.png" alt="patner"/>
                            <img src="assets/patner/p3.png" alt="patner"/>
                            <img src="assets/patner/p4.png" alt="patner"/>
                            <img src="assets/patner/p5.png" alt="patner"/>
                            <img src="assets/patner/p6.png" alt="patner"/>
                            <img src="assets/patner/p7.png" alt="patner"/>
                            <img src="assets/patner/p8.png" alt="patner"/>
                            <img src="assets/patner/p9.png" alt="patner"/>
                            <img src="assets/patner/p10.png" alt="patner"/>


                        </div>
                    </div>
                </div>
            </div><!--EndContent-->
