

            <!--Start Content-->
            <div id="content">
                <!--Start Main Title-->
                <div id="main-title-content">
                    <img src="assets/properties/slider/fslider/p1.jpg" id="bg" alt="main-title"/>
                    <div class="container">
                        <div class="panel">
                            <h1>Our Agents</h1>    
                            <p>Sub Title Here</p>    
                        </div>
                    </div>
                </div> <!--ENd Main Title-->
                <!--    News Carousel-->
                <div class="news-carousel-wrapper">
                    <dl id="news-carousel" class="news-carousel-style">
                        <dt><a href="#">News Link Here</a></dt>
                        <dd>Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet.</dd>
                        <dt><a href="#">Promo Link Here</a></dt>
                        <dd>Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet.</dd>
                        <dt><a href="#">Another Link Here</a></dt>
                        <dd>Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet.</dd>
                    </dl>
                </div>
                <!--    End News Carousel-->
                <div class="container agent-panel">
                    <div class="item-agent panel ">
                        <div class="row-fluid">
                            <div class="span3 bottom-line line-after">
                                <div class="panel">
                                    <h3 class="main-heading bottom-line line-after"><span class="main-circle-icon"><i class="icon-user"></i></span> Corin Cors</h3>
                                    <a href="#" class="agent-image">
                                        <img src="assets/agents/circle/a1.jpg" class="img-circle" alt="agent">
                                    </a>
                                </div>
                            </div>
                            <div class="span9 ">
                                <div class="panel left-line bottom-line desc-agent-preview">
                                    <h3 class="line-before bottom-line main-heading"><span class="main-circle-icon"><i class="icon-circle-arrow-down"></i></span> Corin Cors Detail</h3>
                                    <p>Morbi rhoncus, nisi eget molestie gravida, nunc turpis porttitor tortor, id sagittis eros magna sed arcu. In hac habitasse platea dictumst. Integer placerat gravida orci, in gravida massa dapibus nec. Morbi rhoncus, nisi eget molestie gravida, nunc turpis porttitor tortor, id sagittis eros magna sed arcu. In hac habitasse platea dictumst. Integer placerat gravida orci, in gravida massa dapibus nec. </p>
                                    <ul class="unstyled">
                                        <li><i class="icon-phone"></i> (+89)98732.984 </li>
                                        <li><i class="icon-envelope"></i> agent@company.com</li>
                                        <li><i class="icon-facebook"></i> angel</li>
                                        <li><i class="icon-twitter"></i> @angel</li>
                                    </ul>
                                    <div class="agent-image-properties">
                                        <a href="#" ><img src="assets/properties/thum_mini/p1.jpg" class="img-polaroid tootip" data-toggle="tooltip" data-placement="bottom" title="033 Central Park" alt="033 Centra"/></a>
                                        <a href="#"><img src="assets/properties/thum_mini/p2.jpg" class="img-polaroid tootip" data-toggle="tooltip" data-placement="bottom" title="033 Central Park" alt="033 Centra"/></a>
                                        <a href="#"><img src="assets/properties/thum_mini/p3.jpg" class="img-polaroid tootip" data-toggle="tooltip" data-placement="bottom" title="033 Central Park" alt="033 Centra"/></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item-agent panel ">
                        <div class="row-fluid">
                            <div class="span3 bottom-line line-after">
                                <div class="panel">
                                    <h3 class="main-heading bottom-line line-after"><span class="main-circle-icon"><i class="icon-user"></i></span> Corin Cors</h3>
                                    <a href="#" class="agent-image">
                                        <img src="assets/agents/circle/a1.jpg" class="img-circle" alt="agent">
                                    </a>
                                </div>
                            </div>
                            <div class="span9 ">
                                <div class="panel left-line bottom-line desc-agent-preview">
                                    <h3 class="line-before bottom-line main-heading"><span class="main-circle-icon"><i class="icon-circle-arrow-down"></i></span> Corin Cors Detail</h3>
                                    <p>Morbi rhoncus, nisi eget molestie gravida, nunc turpis porttitor tortor, id sagittis eros magna sed arcu. In hac habitasse platea dictumst. Integer placerat gravida orci, in gravida massa dapibus nec. Morbi rhoncus, nisi eget molestie gravida, nunc turpis porttitor tortor, id sagittis eros magna sed arcu. In hac habitasse platea dictumst. Integer placerat gravida orci, in gravida massa dapibus nec. </p>
                                    <ul class="unstyled">
                                        <li><i class="icon-phone"></i> (+89)98732.984 </li>
                                        <li><i class="icon-envelope"></i> agent@company.com</li>
                                        <li><i class="icon-facebook"></i> angel</li>
                                        <li><i class="icon-twitter"></i> @angel</li>
                                    </ul>
                                    <div class="agent-image-properties">
                                        <a href="#" ><img src="assets/properties/thum_mini/p1.jpg" class="img-polaroid tootip" data-toggle="tooltip" data-placement="bottom" title="033 Central Park" alt="033 Centra"/></a>
                                        <a href="#"><img src="assets/properties/thum_mini/p2.jpg" class="img-polaroid tootip" data-toggle="tooltip" data-placement="bottom" title="033 Central Park" alt="033 Centra"/></a>
                                        <a href="#"><img src="assets/properties/thum_mini/p3.jpg" class="img-polaroid tootip" data-toggle="tooltip" data-placement="bottom" title="033 Central Park" alt="033 Centra"/></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item-agent panel ">
                        <div class="row-fluid">
                            <div class="span3 bottom-line line-after">
                                <div class="panel">
                                    <h3 class="main-heading bottom-line line-after"><span class="main-circle-icon"><i class="icon-user"></i></span> Corin Cors</h3>
                                    <a href="#" class="agent-image">
                                        <img src="assets/agents/circle/a1.jpg" class="img-circle" alt="agent">
                                    </a>
                                </div>
                            </div>
                            <div class="span9 ">
                                <div class="panel left-line bottom-line desc-agent-preview">
                                    <h3 class="line-before bottom-line main-heading"><span class="main-circle-icon"><i class="icon-circle-arrow-down"></i></span> Corin Cors Detail</h3>
                                    <p>Morbi rhoncus, nisi eget molestie gravida, nunc turpis porttitor tortor, id sagittis eros magna sed arcu. In hac habitasse platea dictumst. Integer placerat gravida orci, in gravida massa dapibus nec. Morbi rhoncus, nisi eget molestie gravida, nunc turpis porttitor tortor, id sagittis eros magna sed arcu. In hac habitasse platea dictumst. Integer placerat gravida orci, in gravida massa dapibus nec. </p>
                                    <ul class="unstyled">
                                        <li><i class="icon-phone"></i> (+89)98732.984 </li>
                                        <li><i class="icon-envelope"></i> agent@company.com</li>
                                        <li><i class="icon-facebook"></i> angel</li>
                                        <li><i class="icon-twitter"></i> @angel</li>
                                    </ul>
                                    <div class="agent-image-properties">
                                        <a href="#" ><img src="assets/properties/thum_mini/p1.jpg" class="img-polaroid tootip" data-toggle="tooltip" data-placement="bottom" title="033 Central Park" alt="033 Centra"/></a>
                                        <a href="#"><img src="assets/properties/thum_mini/p2.jpg" class="img-polaroid tootip" data-toggle="tooltip" data-placement="bottom" title="033 Central Park" alt="033 Centra"/></a>
                                        <a href="#"><img src="assets/properties/thum_mini/p3.jpg" class="img-polaroid tootip" data-toggle="tooltip" data-placement="bottom" title="033 Central Park" alt="033 Centra"/></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item-agent panel ">
                        <div class="row-fluid">
                            <div class="span3 bottom-line line-after">
                                <div class="panel">
                                    <h3 class="main-heading bottom-line line-after"><span class="main-circle-icon"><i class="icon-user"></i></span> Corin Cors</h3>
                                    <a href="#" class="agent-image">
                                        <img src="assets/agents/circle/a1.jpg" class="img-circle" alt="agent">
                                    </a>
                                </div>
                            </div>
                            <div class="span9 ">
                                <div class="panel left-line bottom-line desc-agent-preview">
                                    <h3 class="line-before bottom-line main-heading"><span class="main-circle-icon"><i class="icon-circle-arrow-down"></i></span> Corin Cors Detail</h3>
                                    <p>Morbi rhoncus, nisi eget molestie gravida, nunc turpis porttitor tortor, id sagittis eros magna sed arcu. In hac habitasse platea dictumst. Integer placerat gravida orci, in gravida massa dapibus nec. Morbi rhoncus, nisi eget molestie gravida, nunc turpis porttitor tortor, id sagittis eros magna sed arcu. In hac habitasse platea dictumst. Integer placerat gravida orci, in gravida massa dapibus nec. </p>
                                    <ul class="unstyled">
                                        <li><i class="icon-phone"></i> (+89)98732.984 </li>
                                        <li><i class="icon-envelope"></i> agent@company.com</li>
                                        <li><i class="icon-facebook"></i> angel</li>
                                        <li><i class="icon-twitter"></i> @angel</li>
                                    </ul>
                                    <div class="agent-image-properties">
                                        <a href="#" ><img src="assets/properties/thum_mini/p1.jpg" class="img-polaroid tootip" data-toggle="tooltip" data-placement="bottom" title="033 Central Park" alt="033 Centra"/></a>
                                        <a href="#"><img src="assets/properties/thum_mini/p2.jpg" class="img-polaroid tootip" data-toggle="tooltip" data-placement="bottom" title="033 Central Park" alt="033 Centra"/></a>
                                        <a href="#"><img src="assets/properties/thum_mini/p3.jpg" class="img-polaroid tootip" data-toggle="tooltip" data-placement="bottom" title="033 Central Park" alt="033 Centra"/></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Start Pagination    -->
                    <div class="pagination pagination-large">
                        <ul>
                            <li><a href="#"><i class=" icon-angle-left"></i></a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#"><i class=" icon-angle-right"></i></a></li>
                        </ul>
                    </div><!-- end Pagination    -->
                </div>
            </div><!--End Content-->            
