
            <!--Start Content-->
            <div id="content">
                <!--    News Carousel-->
                <div class="news-carousel-wrapper">
                    <dl id="news-carousel" class="news-carousel-style">
                      <%= render 'properties/news_carousel'%>
                    </dl>
                </div><!--    End Carousel-->

                <!--    CEO Says-->
                <div class="container text-center">
                    <div class="panel-wide">
                        <h2 class="title-heading">We Are Recruiting. "U" know what to do.</h2>
                        <img src="assets/agents/n5.png" alt="agent" width="260"/>
                    </div>
                </div>
                <!--    Career Wrapper -->
                <div class="career-wrapper">
                    <div class="container">
                        <div class="panel-wide">
                            <h3 class="text-center">One of the best things in life is to be able to meet and work with individuals who have strong desire to learn, advanced adaptability and are in love with what they do.</h3>
                            <hr/>
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="accordion">
                                        <div class="accordion-group">
                                            <div class="accordion-heading">
                                                <a class="accordion-toggle" data-toggle="collapse" href="#job1">
                                                    <h4><i class="icon-angle-right"></i> &nbsp; RUBY ON RAILS DEVELOPER</h4>
                                                </a>
                                            </div>
                                            <div id="job1" class="accordion-body collapse">
                                                <div class="accordion-inner">
                                                    <p>Ruby on Rails is one of the most popular web programming language currently. As a Ruby on Rails developer, you will have a great chance to work with our international clients. You will be working under the direct supervision of our Project Manager and Head Division, and will be continuously trained by the company.</p>
                                                    <ul><li>S1 / D3 in IT or related field</li><li>Work experience on web development company is preferable</li><li>Proficient in OO web programming language, such as PHP / ASP / JSP / Ruby</li><li>Experience in Ruby on Rails is preferable</li><li>Experience with MVC, Ajax, and XML is preferable</li><li>Expertise in XHTML and CSS is preferable</li><li>Experience in using and configuring Linux servers is preferable</li></ul>
                                                </div>
                                            </div>
                                            <div class="accordion-heading">
                                                <a class="accordion-toggle" data-toggle="collapse" href="#job2">
                                                    <h4><i class="icon-angle-right"></i> &nbsp; PHP DEVELOPER</h4>
                                                </a>
                                            </div>
                                            <div id="job2" class="accordion-body collapse">
                                                <div class="accordion-inner">
                                                    <p>You will be involved in a dynamic team of web 2.0 application developer
                                                        and give the best support to the development team, you’ll also be in charge
                                                        of providing high quality PHP codes.</p>
                                                    <ul><li>Majored in IT or related fields</li><li>Working experience in a web development company preferable</li><li>Expert in OO web programming</li><li>Working experience with MVC framework such as CakePHP preferable</li><li>Working experience with CMS such as Joomla or Drupal preferable</li><li>Working experience with Smarty and MagentoCommerce preferable</li><li>Working experience with Ajax and XML preferable</li><li>Working experience with XHTML and CSS preferable</li><li>Working experience with Linux preferable</li></ul>
                                                </div>
                                            </div>
                                            <div class="accordion-heading">
                                                <a class="accordion-toggle" data-toggle="collapse" href="#job4">
                                                    <h4><i class="icon-angle-right"></i> &nbsp; JAVA DEVELOPER</h4>
                                                </a>
                                            </div>
                                            <div id="job4" class="accordion-body collapse">
                                                <div class="accordion-inner">
                                                    <p>We are seeking those who has passion and interest in develop mobile and web based application on Java technology.</p>
                                                    <ul><li>    Majored in IT or related fields.</li><li>    Working experience in a web development company is preferable.</li><li>    Expert in OO programming.</li><li>    Working experience with various of Java technology.</li><li>    Experienced J2ME and also J2EE is a plus.</li><li>    Working experience with Blackberry is a plus.</li><li>    Working experience with Android is a plus.</li><li>    Experienced in a multimedia application development is a plus.</li><li>    Experienced in various type of application development is a plus.</li><li>    Fast learner and ability to work on multiple projects.</li><li>    Able to work in both team and independently.</li><li>    Strong self motivation and the ability to work with minimal supervision.</li><li>    Willing to be placed/travel outside the city or abroad.</li></ul>
                                                </div>
                                            </div>
                                            <div class="accordion-heading">
                                                <a class="accordion-toggle" data-toggle="collapse" href="#job5">
                                                    <h4><i class="icon-angle-right"></i> &nbsp; ACCOUNT MANAGER</h4>
                                                </a>
                                            </div>
                                            <div id="job5" class="accordion-body collapse">
                                                <div class="accordion-inner">
                                                    <p>An Account Manager will have responsibility to manage existing major accounts with new prospect projects, develop and create new prospect Accounts project, build new network and follow up new lead, mediate between sales goals and customer expectations, close deal and manage a project.</p>
                                                    <ul><li>Minimum Diploma degree from IT major.</li><li>Working Experience min. 1 years in Marketing or Sales Field.</li><li>Good in speaking &amp; writing English.</li><li>Having strong leadership skill, hard working, highly motivated, and good analytical in marketing  concept, strategy and negotiation skill.</li><li>Having excellent in communication skill, presentation skill, networking and can make correspondence and business proposal.</li><li>Having experience for making market survey.</li><li>Willing to work under pressure &amp; target oriented.</li><li>Working experience in a IT company is preferable.</li><li>Active in social media is preferable.</li></ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--End Accordion2-->
                                </div>
                                <div class="span6">
                                    <ul class="unstyled">
                                        <li>If you are:</li>
                                        <li>- Energetic and able to work in minimal supervision</li>
                                        <li>- Gifted with the capacity to work on several projects simultaneously</li>
                                        <li>- An excellent communicator in both oral and written (in English will be a plus)</li>
                                        <li>- Ready and willing to be placed outside Bandung / Indonesia</li>
                                        <li>- Experienced and / or a bank of good ideas</li>
                                        <li>Perhaps you are the right one to join the big family.</li>
                                    </ul>
                                </div>
                            </div>
                            <hr/>
                            <p class="text-center">Send your resume, application letter and ONLY your best portfolios and relevant work experience, to <a href="#">career@company.com</a>. Set the desired position as the email "Subject". </p>
                        </div>
                    </div>
                </div><!--   End  Career Wrapper -->
                <!--    Last Message -->
                <section class="container ">
                    <div class="box-white">
                        <h2 class="text-center"><i class="icon-quote-left qoute"></i> Last Message <i class="icon-quote-right qoute"></i></h2>
                    </div>
                </section><!--  End  Last Message -->
                <br/>
            </div><!--    End Content -->            
