<div id="content">
    <div class="news-carousel-wrapper">
        <dl id="news-carousel" class="news-carousel-style">
          <%= render 'properties/news_carousel'%>
        </dl>
    </div>

    <div class="container text-center">
        <div class="panel-wide">
            <h2 class="title-heading">We Are Recruiting Now.</h2>
            <img src="assets/agents/n5.png" alt="agent" width="260"/>
        </div>
    </div>
    <div class="career-wrapper">
        <div class="container">
            <div class="panel-wide">
                <h3 class="text-center">Send your CV and a Covering Letter to emma@sealproperties.co.uk</h3>
                <hr/>
            </div>
        </div>
    </div>
</div>