<div id="content">
    <div id="main-title-content">
        <img src="assets/properties/slider/fslider/p1.jpg" id="bg" alt="main-title"/>
        <div class="container">
            <div class="panel">
                <h1>FAQ</h1>    
                <p>Q&A</p>    
            </div>
        </div>
    </div>
    <div class="news-carousel-wrapper">
        <dl id="news-carousel" class="news-carousel-style">
          <%= render 'properties/news_carousel'%>
        </dl>
    </div>
    <div class="container" style="width:1200px">
        <div class="row-fluid">
            <div class="span6">
                <div class="panel right-line">
                    <h2 class="main-heading bottom-line"><span class="main-circle-icon"><i class="icon-lightbulb"></i></span> Landlord Questions</h2>
                    <div class="accordion right-space">
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" href="#question201">
                                    <h4>What is the fee?</h4>
                                </a>
                            </div>
                            <div id="question201" class="accordion-body collapse in">
                                <div class="accordion-inner">
                                    <p>Our fee for our tenant find only service is £199, with a no let – no fee guarantee. Our managed service is available from £30 per month with bespoke portfolio deals available.</p>
                                </div>
                            </div>
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" href="#question202">
                                    <h4>What other services do you offer?</h4>
                                </a>
                            </div>
                            <div id="question202" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    <p>CP12 GAS CERTIFICATE<br/> 
                                        This is a legal requirement. Our fee is £60 (No VAT payable).<br/><br/>

                                        ENERGY PERFORMANCE CERTIFICATE (EPC)<br/>
                                            This is a legal requirement. Our fee is £60 (No VAT payable).<br/><br/>
 
                                        ELECTRICAL SAFETY CERTIFICATE QUOTE<br/>
                                            This is recommended. Fee dependent on work required – a quote can be arranged<br/><br/>
 
                                        PAT TESTING QUOTE <br/>
                                            Portable Appliance Testing. Recommended if providing white goods. Fee dependent on number of appliances to be tested – a quote can be arranged  <br/><br/>

                                        ALL OTHER <br/>
                                            We can also arrange quotes for minor and major repairs, redecorating, professional cleaning, flooring and double glazing from our reputable and long standing maintenance team. Please do not hesitate to speak to us about these services.</p>
                                </div>
                            </div>
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" href="#question203">
                                    <h4>Do you do Escorted Viewings?</h4>
                                </a>
                            </div>
                            <div id="question203" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    <p>Yes, we can undertake all viewings for your property if you wish or alternative you can conduct viewings we book for you yourself.</p>
                                </div>
                            </div>
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" href="#question204">
                                    <h4>What are my legal obligations?</h4>
                                </a>
                            </div>
                            <div id="question204" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    <p>There are a number of legal requirements you, as a Landlord, must adhere to. As a Landlord you are responsible for ensuring a number of checks are in place before you can let, or even market your property.  You are also obliged to follow a number of good practice procedures designed to protect both the Landlord and tenant.  <br/><br/>
Here is a brief overview of the checks required. <br/><br/>
Right to Rent<br/><br/>
From the 1st of February 2016, landlord's are legally required to check that their tenants have the 'right to rent' a residentially property in England. Before the start of a new tenancy, you must make checks for all tenants aged 18 and over, even if they’re not named on the tenancy agreement. Checks include obtaining a tenant's original documentation stating they have a right to live in the UK, checking them for authenticity as far as reasonably possible. A copy must be made with the date the check has been made noted and kept for one year after the tenancy has ended. Depending on which is the longest, you must make a further check just before either the expiry date of your tenant’s right to stay in the UK or 12 months after your previous check however, you won’t have to make a further check if your tenant doesn’t have any time restrictions on their right to stay in the UK.<br/><br/>
EPC<br/><br/>
Since the 1st of October 2008, by law in England and Wales, all properties for let require an Energy Performance Certificate (EPC). Properties rented this time do not require an EPC until the property is next rented. An EPC is only required for self-contained properties and gives a property an energy efficiency rating from A (most efficient) to G (least efficient). It provides information about your property's energy use and typical energy costs as well as recommendations on how to reduce energy use and save money.  It is valid for 10 years. An EPC must be made available to prospective tenants and a copy of the certificate given to any tenant who moves into the property<br/><br/>
Gas Safety<br/><br/>
The Gas Safety (Installation and Use) Regulations 1998 deal with landlords’ duties to make sure gas appliances, fittings and flues provided for tenants are safe. <br/>

If you let a property equipped with gas appliances you have three main responsibilities:<br/><br/>
<b>Maintenance:</b> pipework, appliances and flues must be maintained in a safe condition and should be serviced according to manufacturer's instructions.  <br/><br/>
<b>Gas safety checks:</b> a 12 monthly gas safety check must be carried out on every gas appliance/flue. <br/><br/>
<b>Record:</b> a record of the annual gas safety check must be provided to your tenant within 28 days of the check being completed or to new tenants before they move in. Landlords must keep copies of the gas safety record for two years. <br/>
All checks must be undertaken by an operative registered with the Gas Safety Register. <br/><br/>
Fire Safety<br/><br/>
Where a landlord controls flats, bedsits or hostels there must be a risk assessment in place to comply with the Fire Safety Order. It should be in writing. A statutory risk assessment is not required for shared houses or single dwelling lets.<br/>
Where fire alarm systems are provided in a house in multiple occupation the landlord is responsible for insuring fire alarms are checked regularly. You must also make sure that the means of escape from the property (normally the halls stairs and landings) are unobstructed. <br/>
If you provide soft furnishings then they must comply with Fire Safety Regulations <br/><br/>
Electrical Safety<br/><br/>
No formal electrical safety check is required unless your property is a house of multiple occupation in which case a five yearly electrical safety check by a competent electrician is required. <br/>
Where a property is provided with electrical appliances it is the landlords responsibility to make sure that they are safe at the outset of letting and operating instructions are supplied to the tenants.<br/><br/> 
HMO License<br/><br/>
If your property is a house in multiple occupation (e.g. bedsits, shared house or a shared flat) and if the property is on three or more floors with five or more occupants an HMO licence may well be needed from the local authority. <br/><br/>
Utilities Accounts<br/><br/>
For long term tenancies (6 months+) you are responsible for checking that tenants have set up accounts with utilities companies, telephone suppliers, council tax and TV licensing. 
If you have any queries about your responsibilities, we are here to help. We offer advice as well as, under your instruction, carrying out the necessary checks on your behalf. If you would be interested in our services please do not hesitate to contact us and we will arrange this for you.</p>
                                </div>
                            </div>
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" href="#question205">
                                    <h4>Can I specify the tenancy length?</h4>
                                </a>
                            </div>
                            <div id="question205" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    <p>Yes, you can determine the length of a tenancy although the standard tenancy we provide is a 6 month Assured Shorthold Tenancy (AST). You can also add additional terms to be include in the agreement as you wish.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span6">
                <div class="panel ">
                    <h2 class="main-heading bottom-line line-before"><span class="main-circle-icon"><i class="icon-lightbulb"></i></span> Tenant Questions</h2>
                    <div class="accordion right-space">
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" href="#question103">
                                    <h4>I know how much the rent is. Do I need to budget for anything else?</h4>
                                </a>
                            </div>
                            <div id="question103" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    <p>Our Fee<br/><br/>
Our fee is £199 which includes; <br/><br/>
    This secures your chosen property while we carry out our referencing checks and draw up the agreements. This includes external costs involved in the referencing process and covers our administrative work preparing the agreements.<br/><br/>     
This is payable on the date you wish to reserve a property. Until a property is reserved it will remain on the market. No referencing checks will be undertaken until a property has been reserved.<br/><br/> 
*for a joint tenancy there is an additional fee of £50 for the additional referencing. <br/><br/>
The Deposit<br/><br/>
The deposit is normally the equivalent to one month’s rent and is payable along with the first months rent prior to moving into the property. It will be held in a deposit protection scheme as required by law. <br/><br/>
Optional Costs<br/><br/>
Keys – if additional keys are required this will be charged at £10 per key.</p>
                                </div>
                            </div>
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" href="#question102">
                                    <h4>Do I pay bills like water and Council Tax on top of the rent?</h4>
                                </a>
                            </div>
                            <div id="question102" class="accordion-body collapse in">
                                <div class="accordion-inner">
                                    <p>Yes, as a tenant you are usually responsible for paying all utility bills, including council tax and water.</p>
                                </div>
                            </div>
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" href="#question101">
                                    <h4>Who do I deal with?</h4>
                                </a>
                            </div>
                            <div id="question101" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    <p>We arrange viewings, undertake reference checks, draw up agreements before you move into the property. If the landlord has employed us to manage the property, we’ll be the people you talk to after moving in, should you have any problems or concerns. You will be allocated your own personal property manager to contact throughout your tenancy. If the landlord manages their own properties, any queries or notice of repairs etc should be made direct to them.</p>
                                </div>
                            </div>
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" href="#question104">
                                    <h4>How long will my tenancy last?</h4>
                                </a>
                            </div>
                            <div id="question104" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    <p>Our standard tenancies are Assured Shorthold Tenancies (AST's) for a period of 6 months. The length of a tenancy is agreed prior to the contract being drawn up.</p>
                                </div>
                            </div>
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" href="#question105">
                                    <h4>How often does the landlord or agent come around?</h4>
                                </a>
                            </div>
                            <div id="question105" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    <p>Normally, landlords and/or their agents make at least two visits to you during your tenancy – this is not only to check that the property is being maintained to a good standard, it also is a chance for you to point out anything that you wish to bring to their attention. To respect your privacy, they should always give you notice before they visit. This is usually dealt with in the tenancy agreement.</p>
                                </div>
                            </div>
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" href="#question106">
                                    <h4>Can I rent out rooms or share the property?</h4>
                                </a>
                            </div>
                            <div id="question106" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    <p>As long as all of the other tenants’ names are on the tenancy agreement, they have passed referencing and the landlord has agreed. If you don’t, you’ll be breaking the terms of the agreement. With a flatshare, you will all be responsible ‘jointly and severally’. Sometimes tenants can be added to an agreement at a later date if necessary – again, subject to our checks and the landlords consent. In these circumstances the landlord may require a higher level of rent, as there will be more wear and tear in the property with more people living there.</p>
                                </div>
                            </div>
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" href="#question107">
                                    <h4>If the landlord or agent is slow to make repairs, can I withhold the rent?</h4>
                                </a>
                            </div>
                            <div id="question107" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    <p>It’s a difficult situation to be in and we hope it never happens to you. However, if you do withhold the rent you will be in breach of the tenancy agreement and the landlord can take you to court. If you have a letting agent managing the property, you should contact them directly about any repairs, ideally in writing to avoid confusion. A letting agent may well have a deposit from the landlord for minor repairs. However, they will still need permission from the landlord to draw from it.
If the landlord is managing the property and the repair is major, it could be worth getting some legal advice from a solicitor.</p>
                                </div>
                            </div>
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" href="#question108">
                                    <h4>How much notice do I have to give if I want to leave before the tenancy’s over?</h4>
                                </a>
                            </div>
                            <div id="question108" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    <p>By law, you will be liable for the rent until the agreed end of the tenancy. However in extreme circumstances, the landlord may be reasonable about this and agree to release you from your agreement when they have found a new tenant.</p>
                                </div>
                            </div>
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" href="#question109">
                                    <h4>When do I get my deposit back?</h4>
                                </a>
                            </div>
                            <div id="question109" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    <p>Your deposit can be returned to you after an inspection of the property as early as the final day of your tenancy. Deductions may be made for damages. Legally you’re entitled to the deposit no later than ten days after that date providing nothing is in dispute.</p>
                                </div>
                            </div>
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" href="#question110">
                                    <h4>The landlord won’t return my deposit. What do I do?</h4>
                                </a>
                            </div>
                            <div id="question110" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    <p>It is now a legal requirement that all deposits are protected by a Tenancy Deposit Scheme.  You are given the information on the relevant scheme when you sign your lease.<br/>
The schemes vary, however they all protect your deposit. If there is a dispute over part of your deposit, the remainder is required to be returned to you no later than ten days after the end of the tenancy. <br/>
You or the landlord can apply (either together or separately) to the Deposit Scheme to have your case referred if there is a dispute. Once a resolution has been reached, the deposit must be returned within ten days if applicable.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
