
            <!--Start Content-->
            <div id="content">
                <!--Start Main Title-->
                <div id="main-title-content">
                    <img src="assets/properties/slider/fslider/p1.jpg" id="bg" alt="main-title"/>
                    <div class="container">
                        <div class="panel">
                            <h1>FAQ</h1>    
                            <p>Sub Title Here</p>    
                        </div>
                    </div>
                </div> <!--End Main Title-->
                <!--    News Carousel-->
                <div class="news-carousel-wrapper">
                    <dl id="news-carousel" class="news-carousel-style">
                        <dt><a href="#">News Link Here</a></dt>
                        <dd>Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet.</dd>
                        <dt><a href="#">Promo Link Here</a></dt>
                        <dd>Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet.</dd>
                        <dt><a href="#">Another Link Here</a></dt>
                        <dd>Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet.</dd>
                    </dl>
                </div>
                <!--    End News Carousel-->
                <div class="container">
                    <div class="row-fluid">
                        <div class="span6">
                            <div class="panel right-line">
                                <h2 class="main-heading bottom-line"><span class="main-circle-icon"><i class="icon-lightbulb"></i></span> Group Question</h2>   
                                <!--Start Accordion-->
                                <div class="accordion right-space">
                                    <div class="accordion-group">
                                        <div class="accordion-heading">
                                            <a class="accordion-toggle" data-toggle="collapse" href="#question201">
                                                <h4>How Contact Agent?</h4>
                                            </a>
                                        </div>
                                        <div id="question201" class="accordion-body collapse">
                                            <div class="accordion-inner">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin rutrum nisi eu ante mattis sit amet luctus nisl tempus.</p>
                                            </div>
                                        </div>
                                        <div class="accordion-heading">
                                            <a class="accordion-toggle" data-toggle="collapse" href="#question202">
                                                <h4>How To Create Property?</h4>
                                            </a>
                                        </div>
                                        <div id="question202" class="accordion-body collapse in">
                                            <div class="accordion-inner">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin rutrum nisi eu ante mattis sit amet luctus nisl tempus.</p>
                                            </div>
                                        </div>
                                        <div class="accordion-heading">
                                            <a class="accordion-toggle" data-toggle="collapse" href="#question203">
                                                <h4>How To Change Plan Price?</h4>
                                            </a>
                                        </div>
                                        <div id="question203" class="accordion-body collapse">
                                            <div class="accordion-inner">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin rutrum nisi eu ante mattis sit amet luctus nisl tempus.</p>
                                            </div>
                                        </div>
                                        <div class="accordion-heading">
                                            <a class="accordion-toggle" data-toggle="collapse" href="#question204">
                                                <h4>How To Become Member?</h4>
                                            </a>
                                        </div>
                                        <div id="question204" class="accordion-body collapse">
                                            <div class="accordion-inner">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin rutrum nisi eu ante mattis sit amet luctus nisl tempus.</p>
                                            </div>
                                        </div>
                                        <div class="accordion-heading">
                                            <a class="accordion-toggle" data-toggle="collapse" href="#question205">
                                                <h4>How To Upload Properties?</h4>
                                            </a>
                                        </div>
                                        <div id="question205" class="accordion-body collapse">
                                            <div class="accordion-inner">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin rutrum nisi eu ante mattis sit amet luctus nisl tempus.</p>
                                            </div>
                                        </div>
                                        <div class="accordion-heading">
                                            <a class="accordion-toggle" data-toggle="collapse" href="#question206">
                                                <h4>How To Describe The Item?</h4>
                                            </a>
                                        </div>
                                        <div id="question206" class="accordion-body collapse">
                                            <div class="accordion-inner">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin rutrum nisi eu ante mattis sit amet luctus nisl tempus.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div><!--End Accordion-->
                            </div>
                        </div>
                        <div class="span6">
                            <div class="panel ">
                                <h2 class="main-heading bottom-line line-before"><span class="main-circle-icon"><i class="icon-lightbulb"></i></span> Group Question 02</h2>   
                                <!--Start Accordion2-->
                                <div class="accordion right-space">
                                    <div class="accordion-group">
                                        <div class="accordion-heading">
                                            <a class="accordion-toggle" data-toggle="collapse" href="#question103">
                                                <h4>How To Change Plan Price?</h4>
                                            </a>
                                        </div>
                                        <div id="question103" class="accordion-body collapse">
                                            <div class="accordion-inner">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin rutrum nisi eu ante mattis sit amet luctus nisl tempus.</p>
                                            </div>
                                        </div>
                                        <div class="accordion-heading">
                                            <a class="accordion-toggle" data-toggle="collapse" href="#question102">
                                                <h4>How To Create Property?</h4>
                                            </a>
                                        </div>
                                        <div id="question102" class="accordion-body collapse in">
                                            <div class="accordion-inner">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin rutrum nisi eu ante mattis sit amet luctus nisl tempus.</p>
                                            </div>
                                        </div>
                                        <div class="accordion-heading">
                                            <a class="accordion-toggle" data-toggle="collapse" href="#question101">
                                                <h4>How Contact Agent?</h4>
                                            </a>
                                        </div>
                                        <div id="question101" class="accordion-body collapse">
                                            <div class="accordion-inner">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin rutrum nisi eu ante mattis sit amet luctus nisl tempus.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div><!--End Accordion2-->
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--EndContent-->            
