
            <!--Start Content-->
            <div id="content">
                <!--Start Main Title-->
                <div id="main-title-content">
                    <img src="assets/properties/slider/fslider/p1.jpg" id="bg" alt="main-title"/>
                    <div class="container">
                        <div class="panel">
                            <h1>Galeries</h1>    
                            <p>Sub Title Here</p>    
                        </div>
                    </div>
                </div> <!--End Main Title-->
                <!--    News Carousel-->
                <div class="news-carousel-wrapper">
                    <dl id="news-carousel" class="news-carousel-style">
                      <%= render 'properties/news_carousel'%>
                    </dl>
                </div>
                <!--    End News Carousel-->
                <div class="container">
                    <div class="featured-grid right-space">
                        <div class="box-white">
                            <div class="grid-galeries grid-style-properties">
                                <div class="item"><a href="#" class="with-hover"><img alt='images' src="assets/properties/p1.jpg" class="full"/><span class="mask_hover"></span></a></div>
                                <div class="item"><a href="#" class="with-hover"><img alt='images' src="assets/properties/p2.jpg" class="full"/><span class="mask_hover"></span></a></div>
                                <div class="item"><a href="#" class="with-hover"><img alt='images' src="assets/properties/p3.jpg" class="full"/><span class="mask_hover"></span></a></div>
                                <div class="item"><a href="#" class="with-hover"><img alt='images' src="assets/properties/p4.jpg" class="full"/><span class="mask_hover"></span></a></div>
                                <div class="item"><a href="#" class="with-hover"><img alt='images' src="assets/properties/p5.jpg" class="full"/><span class="mask_hover"></span></a></div>
                                <div class="item"><a href="#" class="with-hover"><img alt='images' src="assets/properties/p6.jpg" class="full"/><span class="mask_hover"></span></a></div>
                                <div class="item"><a href="#" class="with-hover"><img alt='images' src="assets/properties/p9.jpg" class="full"/><span class="mask_hover"></span></a></div>
                                <div class="item"><a href="#" class="with-hover"><img alt='images' src="assets/interior/i1.jpg" class="full"/><span class="mask_hover"></span></a></div>
                                <div class="item"><a href="#" class="with-hover"><img alt='images' src="assets/interior/i2.jpg" class="full"/><span class="mask_hover"></span></a></div>
                                <div class="item"><a href="#" class="with-hover"><img alt='images' src="assets/interior/i3.jpg" class="full"/><span class="mask_hover"></span></a></div>
                                <div class="item"><a href="#" class="with-hover"><img alt='images' src="assets/interior/i4.jpg" class="full"/><span class="mask_hover"></span></a></div>
                                <div class="item"><a href="#" class="with-hover"><img alt='images' src="assets/interior/i5.jpg" class="full"/><span class="mask_hover"></span></a></div>

                            </div>
                            <hr/>
                            <div class="pagination pagination-large">
                                <ul>
                                    <li><a href="#"><i class=" icon-angle-left"></i></a></li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#"><i class=" icon-angle-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!--End Grid Featured-->
                    </div>

                </div>
            </div>            
