
            <!-- start Content -->
            <div id="content">
                <!--    News Carousel-->
                <div class="news-carousel-wrapper">
                    <dl id="news-carousel" class="news-carousel-style">
                      <%= render 'properties/news_carousel'%>
                    </dl>
                </div>
                <!--    End News Carousel-->
                <!--    End News Carousel-->
                <div class="container">
                    <div class="panel proper-form-bg">
                        <form class="proper-login">
                            <div class="member-login">
                                <img src="assets/agents/a3.jpg" class="img-polaroid" width="90" alt="image-login"/>
                                <div class="member-desc">
                                    <h3>Rose Angelina</h3>
                                    <a href="#">Continue Login</a>
                                </div>
                                <div class="clearfix"></div>  
                                <hr/>
                            </div>
                            <label>Username</label>
                            <input type="text" class="input-block-level"/>
                            <label>Password</label>
                            <input type="password" class="input-block-level"/>
                            <label class="checkbox">
                                <input type="checkbox">  Remeber Password
                            </label>
                            <hr/>
                            <div class="clearfix">
                                <input type="submit" value="Login" class="btn btn-proper"/>&nbsp;&nbsp; <a href="#">Forgot Password?</a>
                            </div>
                        </form>
                    </div>

                </div>
            </div>


