

            <!--Start Content-->
            <div id="content">
                <!--Start Main Title-->
                <div id="main-title-content">
                    <img src="assets/properties/slider/fslider/p1.jpg" id="bg" alt="main-title"/>
                    <div class="container">
                        <div class="panel">
                            <h1>News Detail</h1>    
                            <p>Sub Title Here</p>    
                        </div>
                    </div>
                </div> <!--End Main Title-->
                <!--    News Carousel-->
                <div class="news-carousel-wrapper">
                    <dl id="news-carousel" class="news-carousel-style">
                      <%= render 'properties/news_carousel'%>
                    </dl>
                </div>
                <!--    End News Carousel-->
                <div class="container">
                    <div class="row-fluid">
                        <div class="span9">
                            <div class="new-list ">
                                <div class="item panel">
                                    <h2 class="title-heading">Investation Club On The Weekend</h2>
                                    <img src="assets/news/n4.jpg" alt="new-image">
                                    <div class="box-panel">
                                        <div class="clearfix decs-meta">
                                            <span class="italic pull-left">
                                                Date:
                                                15 May 2013</span>
                                            <span class="italic pull-right">
                                                <i class="icon-comment"></i>
                                                <a href="#">4 Comments</a></span>
                                        </div>

                                        <p>Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet, consectetur fermentum adipiscing elit. Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet, consectetur fermentum adipiscing elit.
                                            Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet, consectetur fermentum adipiscing elit. Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet, consectetur fermentum adipiscing elit.
                                        </p>
                                        <blockquote>Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet, consectetur fermentum adipiscing elit. Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet, consectetur fermentum adipiscing elit.
                                            Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet, consectetur fermentum adipiscing elit. Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet, consectetur fermentum adipiscing elit.
                                        </blockquote>
                                        <p>Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet, consectetur fermentum adipiscing elit. Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet, consectetur fermentum adipiscing elit.
                                            Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet, consectetur fermentum adipiscing elit. Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet, consectetur fermentum adipiscing elit.
                                        </p>
                                    </div>
                                </div>  
                            </div>
                            <section class="panel box-white">
                                <h3 class="title-heading">6 Response To These Article</h3>
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img alt="images" class="media-object" src="http://placehold.it/64x64">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading">Media heading</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin rutrum nisi eu ante mattis sit amet luctus nisl tempus.</p>
                                        <a href="#" class="btn btn-proper btn-mini ">Replay</a>
                                        <div class="media">
                                            <a class="pull-left" href="#">
                                                <img alt="images" class="media-object" src="http://placehold.it/64x64">
                                            </a>
                                            <div class="media-body">
                                                <h4 class="media-heading">Media heading</h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin rutrum nisi eu ante mattis sit amet luctus nisl tempus.</p>
                                                <a href="#" class="btn btn-proper btn-mini ">Replay</a>
                                            </div>
                                        </div>
                                        <div class="media">
                                            <a class="pull-left" href="#">
                                                <img alt="images" class="media-object" src="http://placehold.it/64x64">
                                            </a>
                                            <div class="media-body">
                                                <h4 class="media-heading">Media heading</h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin rutrum nisi eu ante mattis sit amet luctus nisl tempus.</p>
                                                <a href="#" class="btn btn-proper btn-mini ">Replay</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img alt="images" class="media-object" src="http://placehold.it/64x64">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading">Media heading</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin rutrum nisi eu ante mattis sit amet luctus nisl tempus.</p>
                                        <a href="#" class="btn btn-proper btn-mini ">Replay</a>
                                    </div>
                                </div>
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img alt="images" class="media-object" src="http://placehold.it/64x64">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading">Media heading</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin rutrum nisi eu ante mattis sit amet luctus nisl tempus.</p>
                                        <a href="#" class="btn btn-proper btn-mini ">Replay</a>
                                    </div>
                                </div>
                                <p>&nbsp;</p>
                            </section>
                            <p>&nbsp;</p>
                        </div>
                        <div class="span3">
                            <div class="panel">
                                <h3 class="main-heading bottom-line "><span class="main-circle-icon"><i class="icon-search"></i></span> Find News</h3>   
                                <form  class="bottom-line " action="?" method="get">
                                    <label>Keywords</label>
                                    <input type="text" placeholder="" name="" value="" class="input-block-level" required=""/>
                                    <input type="submit" class="btn btn-proper" value="Search"/>
                                </form>
                                <h3 class="main-heading bottom-line "><span class="main-circle-icon"><i class="icon-paper-clip"></i></span> Category</h3>   
                                <div class="accordion">
                                    <div class="accordion-group">
                                        <div class="accordion-heading">
                                            <a class="accordion-toggle" data-toggle="collapse" href="#question103">
                                                <h4>Categoty 01</h4>
                                            </a>
                                        </div>
                                        <div id="question103" class="accordion-body collapse">
                                            <div class="accordion-inner">
                                                <ul>
                                                    <li>Sub Category 01</li>
                                                    <li>Sub Category 02</li>
                                                    <li>Sub Category 03</li>
                                                    <li>Sub Category 04</li>
                                                    <li>Sub Category 05</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="accordion-heading">
                                            <a class="accordion-toggle" data-toggle="collapse" href="#question102">
                                                <h4>Categoty 02</h4>
                                            </a>
                                        </div>
                                        <div id="question102" class="accordion-body collapse in">
                                            <div class="accordion-inner">
                                                <ul>
                                                    <li>Sub Category 01</li>
                                                    <li>Sub Category 02</li>
                                                    <li>Sub Category 03</li>
                                                    <li>Sub Category 04</li>
                                                    <li>Sub Category 05</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="accordion-heading">
                                            <a class="accordion-toggle" data-toggle="collapse" href="#question101">
                                                <h4>Categoty 03</h4>
                                            </a>
                                        </div>
                                        <div id="question101" class="accordion-body collapse">
                                            <div class="accordion-inner">
                                                <ul>
                                                    <li>Sub Category 01</li>
                                                    <li>Sub Category 02</li>
                                                    <li>Sub Category 03</li>
                                                    <li>Sub Category 04</li>
                                                    <li>Sub Category 05</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div><!--End Accordion2-->

                                <h3 class="main-heading bottom-line top-line"><span class="main-circle-icon"><i class="icon-tags"></i></span> Tags</h3>   
                                <div class="tags">
                                    <p class="">
                                        <span class="label"> Investation</span>
                                        <span class="label">Rent</span>
                                        <span class="label"> Top Properties</span>
                                        <span class="label"> Sell</span>
                                        <span class="label"> Investation</span>
                                        <span class="label">Rent 30</span>
                                        <span class="label"> Top Properties</span>
                                        <span class="label"> Sell 03</span>
                                        <span class="label"> Investation</span>
                                        <span class="label">Rent</span>
                                        <span class="label"> Top Properties</span>
                                        <span class="label"> Sell 02</span>
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>            
