

            <!--Start Content-->
<div id="content">
    <!--Start Main Title-->
    <div id="main-title-content">
        <img src="assets/properties/slider/fslider/p1.jpg" id="bg" alt="main-title"/>
        <div class="container">
            <div class="panel">
                <h1>Detail Property</h1>    
                <p>Sub Title Here</p>    
            </div>
        </div>
    </div> <!--End Main Title-->
     <!--    News Carousel-->
    <div class="news-carousel-wrapper">
        <dl id="news-carousel" class="news-carousel-style">
            <dt><a href="#">News Link Here</a></dt>
            <dd>Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet.</dd>
            <dt><a href="#">Promo Link Here</a></dt>
            <dd>Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet.</dd>
            <dt><a href="#">Another Link Here</a></dt>
            <dd>Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet.</dd>
        </dl>
    </div>
    <!--    End News Carousel-->
    <div class="container">
        <div class="row-fluid">
            <div class="span9">
                <div class="panel right-line">
                    <h2 class="main-heading bottom-line"><span class="main-circle-icon"><i class="icon-building"></i></span> 034 Central Park Zoo</h2>   
                  <!-- START DETAIL-->
                    <div class="detail-properties right-space">
                        <!-- START SLIDER -->
                        <div class="big-image text-center">
                            <div class="preloader"></div>
                            <div class="desc-image">
                                <h3>Central Park 023</h3>
                                <p>In convallis venenatis magna, nec interdum ipsum iaculis et. Nulla facilisi. Duis in neque malesuada vestibulum ut neque. </p>
                            </div>
                            <img src="assets/properties/p1.jpg" id="big-image-preview" alt="big-image-preview">
                        </div>
                        <div class="list_image_detail">
                            <ul id="list_images_property">
                                <li><a href="#" data-bigimage="assets/interior/i1.jpg" data-title="Interior 01" data-desc="Description 01 In convallis venenatis magna, nec interdum ipsum iaculis et. Nulla facilisi. Duis in neque malesuada vestibulum ut neque"><img src="assets/interior/i1.jpg" alt="Thum"/></a></li>
                                <li><a href="#" data-bigimage="assets/interior/i2.jpg" data-title="Interior 02" data-desc="Description 01 In convallis venenatis magna, nec interdum ipsum iaculis et. Nulla facilisi. Duis in neque malesuada vestibulum ut neque"><img src="assets/interior/i2.jpg" alt="Thum"/></a></li>
                                <li><a href="#" data-bigimage="assets/interior/i3.jpg" data-title="Interior 03" data-desc="Description 01 In convallis venenatis magna, nec interdum ipsum iaculis et. Nulla facilisi. Duis in neque malesuada vestibulum ut neque"><img src="assets/interior/i3.jpg" alt="Thum"/></a></li>
                                <li><a href="#" data-bigImage="assets/interior/i4.jpg" data-title="Interior 04" data-desc="Description 01 In convallis venenatis magna, nec interdum ipsum iaculis et. Nulla facilisi. Duis in neque malesuada vestibulum ut neque"><img src="assets/interior/i4.jpg" alt="Thum"/></a></li>
                                <li><a href="#" data-bigimage="assets/interior/i5.jpg" data-title="Interior 05" data-desc="Description 01 In convallis venenatis magna, nec interdum ipsum iaculis et. Nulla facilisi. Duis in neque malesuada vestibulum ut neque"><img src="assets/interior/i5.jpg" alt="Thum"/></a></li>
                                <li><a href="#" data-bigimage="assets/interior/i6.jpg" data-title="Interior 06" data-desc="Description 01 In convallis venenatis magna, nec interdum ipsum iaculis et. Nulla facilisi. Duis in neque malesuada vestibulum ut neque"><img src="assets/interior/i6.jpg" alt="Thum"/></a></li>
                                <li><a href="#" data-bigimage="assets/interior/i7.jpg" data-title="Interior 07" data-desc="Description 01 In convallis venenatis magna, nec interdum ipsum iaculis et. Nulla facilisi. Duis in neque malesuada vestibulum ut neque"><img src="assets/interior/i7.jpg" alt="Thum"/></a></li>
                                <li><a href="#" data-bigimage="assets/interior/i8.jpg" data-title="Interior 08" data-desc="Description 01 In convallis venenatis magna, nec interdum ipsum iaculis et. Nulla facilisi. Duis in neque malesuada vestibulum ut neque"><img src="assets/interior/i8.jpg" alt="Thum"/></a></li>
                            </ul>
                            <div class="clearfix"></div>
                            <a id="prev2" class="prev" href="#">&lt;</a>
                            <a id="next2" class="next" href="#">&gt;</a>
                        </div>
                        <!-- END SLIDER -->
                        <h3>Property Description</h3>
                        <p>Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet, consectetur fermentum adipiscing elit. Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet, consectetur fermentum adipiscing elit. Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet, consectetur fermentum adipiscing elit. Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet, consectetur fermentum adipiscing elit.  </p>
                        <!-- AddThis Button BEGIN -->
                        <div class="addthis_toolbox addthis_default_style addthis_16x16_style">
                            <a class="addthis_button_facebook"></a>
                            <a class="addthis_button_twitter"></a>
                            <a class="addthis_button_pinterest_share"></a>
                            <a class="addthis_button_google_plusone_share"></a>
                            <a class="addthis_button_compact"></a><a class="addthis_counter addthis_bubble_style"></a>
                        </div>
                        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-51965a0e6903b31d"></script>
                        <!-- AddThis Button END -->
                        <h3>Property Feature</h3>
                        <ul class="clear">
                            <li>FMLS #: 3918702</li>
                            <li>Subdivision: 3</li>
                            <li>Bedrooms: 3</li>
                            <li>Bathrooms: Full: 3, Half: 1</li>
                            <li>Year Built: 2000</li>
                            <li>Type: Condo/Townhouse</li>
                            <li>Country: COBB</li>
                            <li>Status: Active</li>
                        </ul>
                        <h3>Addtional Features</h3>
                        <p>Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet, consectetur fermentum adipiscing elit. Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet, consectetur fermentum adipiscing elit. Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet, consectetur fermentum adipiscing elit. Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet, consectetur fermentum adipiscing elit, ipsum dolor sit amet, consectetur fermentum adipiscing elit, ipsum dolor sit amet, consectetur fermentum adipiscing elitipsum dolor sit amet, consectetur fermentum adipiscing elit, ipsum dolor sit amet, consectetur fermentum adipiscing elitadipiscing elit, ipsum dolor sit amet, consectetur fermentum adipiscing elitadipiscing elit, ipsum dolor sit amet, consectetur fermentum adipiscing elitadipiscing elit, ipsum dolor sit amet, consectetur fermentum adipiscing elit.</p>
                    </div>
                   <!-- END DETAIL-->

                </div>
            </div>
            <div class="span3">
                <div class="panel">
                    <!-- MAP LOCATION-->
                    <h3 class="main-heading bottom-line line-before"><span class="main-circle-icon"><i class="icon-map-marker"></i></span>  Location</h3>    
                    <div class="bottom-line line-before">
                        <iframe id="map-location"  width="100%" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=id&amp;geocode=&amp;q=arvada&amp;aq=&amp;sll=39.777936,-105.074272&amp;sspn=0.149605,0.338173&amp;ie=UTF8&amp;hq=&amp;hnear=Arvada,+Jefferson,+Colorado&amp;ll=39.802764,-105.087484&amp;spn=0.299124,0.676346&amp;t=m&amp;z=11&amp;output=embed"></iframe>   
                    </div><!-- END MAP LOCATION -->
                    <!-- Detail Agent -->
                    <h3 class="main-heading bottom-line line-before"><span class="main-circle-icon"><i class="icon-user"></i></span> Agent</h3>
                    <div class="agent-panel bottom-line line-before">
                        <a href="#" class="agent-image ">
                            <img src="assets/agents/circle/a1.jpg" class="img-polaroid" alt="agent">
                        </a>
                        <ul class="unstyled margin20">
                            <li><i class="icon-phone"></i> (+89)98732.984 </li>
                            <li><i class="icon-envelope"></i> agent@company.com</li>
                            <li><i class="icon-facebook"></i> angel</li>
                            <li><i class="icon-twitter"></i> @angel</li>
                        </ul>
                    </div><!-- END Detail Agent -->
                    <!-- FORM CONTACT -->
                    <h3 class="main-heading bottom-line line-before"><span class="main-circle-icon"><i class="icon-envelope-alt"></i></span> Contact Agent</h3>
                    <form>
                        <label>Name</label>
                        <input type="text" name="name" placeholder="Enter Your Name" required="" class="input-block-level"/>
                        <label>Email</label>
                        <input type="email" name="email" placeholder="Enter Your Email" required="" class="input-block-level"/>
                        <label>Message</label>
                        <textarea name="message" class="input-block-level" rows="5" placeholder="Your Message" required=""></textarea>
                        <div class="clearfix">
                            <input type="submit" value="Send" class="btn btn-proper "/>
                        </div>
                    </form>
                    <!-- END FORM CONTACT -->
                </div>

            </div>
        </div>
    </div>
</div><!--EndContent-->            
