<div id="content">
    <!--Start Main Title-->
    <div id="main-title-content">
        <img src="assets/properties/slider/fslider/p1.jpg" id="bg" alt="main-title"/>
        <div class="container">
            <div class="panel">
                <h1>SEAL Approved</h1>    
            </div>
        </div>
    </div> <!--End Main Title-->
    <!--    News Carousel-->
    <div class="news-carousel-wrapper">
        <dl id="news-carousel" class="news-carousel-style">
          <%= render 'properties/news_carousel'%>
        </dl>
    </div>
    <!--    End News Carousel-->
    <div class="container">
        <div class="panel">
            <div class="row-fluid">
                <!--Start History Wrapper-->
                <div class="">
                    <div class="box-line"> 
                        <h3 class="title-heading">SEAL Approved</h3>
                    </div>
                    <div class="box-white">
                        <p><%= image_tag "sealmark.png", style: "width:90px;height:90px;margin:8px;float:left" %>Properties which are marked with the Seal of Approval (pictured) are marketed by SEAL Properties on behalf of the Landlord or Vendor who have commissioned our traditional estate agency services under our Pro or Pro Plus+ plans. We have personally visited these properties for a market appraisal and have ensured the properties are of a good standard, meeting current legal requirements. All communication in regards to SEAL Approved properties is via SEAL Properties. Applications for tenancies in these properties will require prospective tenants to under go extensive vetting.</p> 
						<p>
						Properties not displaying the seal are marketed by the Landlord or Vendor themselves under our Basic and Basic Plus+ plans which allow Landlords and Vendors the opportunity to self-promote their properties using our marketing infrastructure. SEAL Properties endeavors to moderate these listings but cannot take responsibility for the contents of these adverts, the actual condition of a property or any contractual agreements subsequently entered into between the parties. Prospective tenants and Landlords can communicate directly, as can buyers and sellers, but SEAL Properties advise you to take all necessary precautions.</p>

						<p>Here are a few points to consider. We recommend that Landlords/Tenants, Buyers/Sellers initially communicate through our messaging system until a level of trust has been established. Neither party should disclose any personal information in the first instance. When arranging to meet for a viewing, where possible go with a friend or at least let someone know where and when you are going and when should be back. Do not pay anything up front, without any formal agreement being in place. Landlords should ensure they properly vet and reference a prospective tenant – SEAL Properties can help you with this. Landlords should also ensure their properties meet all current legal requirements and prospective tenants should make their own checks to confirm this.</p>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>