
                <!--Start Content-->
                <div id="content">
                    <!--    News Carousel-->
                    <div class="news-carousel-wrapper">
                        <dl id="news-carousel" class="news-carousel-style">
                          <%= render 'properties/news_carousel'%>
                        </dl>
                    </div>
                    <!--    End News Carousel-->
                    <!--Start Form Singup-->
                    <div class="panel proper-form-bg">
                        <form class="proper-singup" action="?" method="get">
                            <h1 class=""><i class="icon-user"></i> Sing Up</h1>
                            <hr/>
                            <label>Username</label>
                            <input type="text" placeholder="Type Your Location" name="" value="" class="input-block-level"/>
                            <label>Password</label>
                            <input type="text" placeholder="Type Your Password" name="" value="" class="input-block-level"/>
                            <label>Re-Password</label>
                            <input type="text" placeholder="Re-type Your Password" name="" value="" class="input-block-level"/>
                            <label>Full Name</label>
                            <input type="text" placeholder="Type Full Time" name="" value="" class="input-block-level"/>
                            <label class="checkbox">
                                <input type="checkbox">  I agree to accept <a href="#" class="italic">Terms of Use</a> and <a href="#" class="italic">Privacy Policy</a>
                            </label>
                            <hr/>
                            <button type="submit" class="btn-proper btn"> Register</button>
                            <hr>
                            <h4>Already have an account?</h4>
                            <a href="#">Go to Login <i class="icon-arrow-right"></i></a>
                        </form>
                    </div><!--End Form Singup-->
                </div><!--EndContent-->


