
            <!--Start Content-->
            <div id="content">
                <!--Start Main Title-->
                <div id="main-title-content">
                    <img src="assets/properties/slider/fslider/p1.jpg" id="bg" alt="main-title"/>
                    <div class="container">
                        <div class="panel">
                            <h1>Upload Items</h1>    
                            <p>Sub Title Here</p>    
                        </div>
                    </div>
                </div> <!--End Main Title-->
                <!--    News Carousel-->
                <div class="news-carousel-wrapper">
                    <dl id="news-carousel" class="news-carousel-style">
                        <dt><a href="#">News Link Here</a></dt>
                        <dd>Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet.</dd>
                        <dt><a href="#">Promo Link Here</a></dt>
                        <dd>Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet.</dd>
                        <dt><a href="#">Another Link Here</a></dt>
                        <dd>Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet.</dd>
                    </dl>
                </div>
                <!--    End News Carousel-->
                <div class="container">
                    <div class="panel">
                        <div class="box-line">
                            <h3 class="title-heading">Please complete the form</h3>
                        </div>
                        <!-- Start List Step Upload-->
                        <ul class="unstyled proper-step">
                            <li><a href="/upload_step1" ><span>1</span></a></li>
                            <li><a href="/upload_step2" class="active"><span>2</span></a></li>
                            <li><a href="/upload_step3"><span>3</span></a></li>
                        </ul><!-- End List-->
                        <div class="clearfix"></div>
                        <!-- Start Form Step -->
                        <form class="proper-form-step">
                            <div class="proper-form-step-area">
                                <h4>Property Information</h4>
                                <div class="row-fluid">
                                    <div class="span4">
                                        <label>Name Property</label>
                                        <input type="text" class="input-block-level" required=""/>
                                    </div>
                                    <div class="span4">
                                        <label>Type Category</label>
                                        <select class="input-block-level">
                                            <option>Rent</option>
                                            <option>Sell</option>
                                        </select>
                                    </div>
                                    <div class="span4">
                                        <label>Beds</label>
                                        <input type="number" class="input-block-level" required=""/>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span4">
                                        <label>Bath</label>
                                        <input type="number" class="input-block-level" required=""/>
                                    </div>
                                    <div class="span4">
                                        <label>Meters</label>
                                        <input type="number" class="input-block-level" required=""/>
                                    </div>
                                    <div class="span4">
                                        <label>Address</label>
                                        <input type="text" class="input-block-level" required=""/>
                                    </div>
                                </div>
                            </div>

                            <button  class="btn btn-proper btn-large">Next Step <i class="icon-arrow-right"></i></button>
                        </form><!-- End Form Step -->
                    </div>

                </div>
            </div><!--EndContent-->

