
            <!--Start Content-->
            <div id="content">
                <!--Start Main Title-->
                <div id="main-title-content">
                    <img src="assets/properties/slider/fslider/p1.jpg" id="bg" alt="main-title"/>
                    <div class="container">
                        <div class="panel">
                            <h1>Upload Items</h1>    
                            <p>Sub Title Here</p>    
                        </div>
                    </div>
                </div> <!--End Main Title-->
                <!--    News Carousel-->
                <div class="news-carousel-wrapper">
                    <dl id="news-carousel" class="news-carousel-style">
                      <%= render 'properties/news_carousel'%>
                    </dl>
                </div>
                <!--    End News Carousel-->
                <div class="container">
                    <div class="panel">
                        <div class="box-line">
                            <h3 class="title-heading">Please complete the form</h3>
                        </div>
                        <!--   Start List Step-->
                        <ul class="unstyled proper-step">
                            <li><a href="/upload_step1" ><span>1</span></a></li>
                            <li><a href="/upload_step2" ><span>2</span></a></li>
                            <li><a href="/upload_step3" class="active"><span>3</span></a></li>
                        </ul><!--   End List Step-->
                        <div class="clearfix"></div>
                        <!--   Start Form Step-->
                        <form class="proper-form-step">
                            <div class="proper-form-step-area">

                            </div>
                            <button  class="btn btn-proper btn-large">Sent Property <i class="icon-arrow-right"></i></button>
                        </form><!--   End Form Step-->
                    </div>

                </div>
            </div><!--EndContent-->

