
            <!--Start Content-->
            <div id="content">
                <!--Start Main Title-->
                <div id="main-title-content">
                    <img src="assets/properties/slider/fslider/p1.jpg" id="bg" alt="main-title"/>
                    <div class="container">
                        <div class="panel">
                            <h1>Upload Items</h1>    
                            <p>Sub Title Here</p>    
                        </div>
                    </div>
                </div> <!--End Main Title-->
                <!--    News Carousel-->
                <div class="news-carousel-wrapper">
                    <dl id="news-carousel" class="news-carousel-style">
                        <dt><a href="#">News Link Here</a></dt>
                        <dd>Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet.</dd>
                        <dt><a href="#">Promo Link Here</a></dt>
                        <dd>Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet.</dd>
                        <dt><a href="#">Another Link Here</a></dt>
                        <dd>Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet.</dd>
                    </dl>
                </div>
                <!--    End News Carousel-->
                <div class="container">
                    <div class="panel">
                        <div class="box-line">
                            <h3 class="title-heading">Please complete the form</h3>
                        </div>
                        <!-- Start List Step Upload-->
                        <ul class="unstyled proper-step">
                            <li><a href="/upload_step1" ><span>1</span></a></li>
                            <li><a href="/upload_step2" class="active"><span>2</span></a></li>
                            <li><a href="/upload_step3"><span>3</span></a></li>
                        </ul><!-- End List-->
                        <div class="clearfix"></div>
                      <%= form_tag("/properties/payment", :method=>"post") do %>
                          <div class="proper-form-step-area">

                            <div class="proper-singup">
                              <h3 class=""><b>Add Property</b></h3>
                          <div>
                            <label>Payment</label>
                          </div>
                          <div>
                            <%= text_field_tag "payment" %>
                          </div>
                          <div><%= submit_tag 'OK', class: "btn btn-proper btn-large" %></div>
                            </div>
                          </div>
                          <% end %>




                    </div>

                </div>
            </div><!--EndContent-->

