
<div class="sky">
    <!-- <div class="clouds_one"></div> -->
    <!-- <div class="clouds_two"></div> -->
    <div class="clouds_three"></div>
    
    <div class="row text-center">
        <div class="" style="float:left;margin-left:40px;position:absolute">
            <!-- <div class="thumbnail"> -->
                <!-- <div id="test" style="padding:20px;backgound-color:grey;position:absolute;color:black;"></div> -->
                <div class="vertical">
                    <div id="test" class="items" style="width:675px;"></div>
                </div>
            <!-- </div> -->
        </div>

        <div class="col-md-3 col-sm-6 hero-feature" style="float:right;margin-right:40px">
            <div class="thumbnail">
                <div id="crotator" style="height:205px;width:750px;position:relative;padding:10px;background: lightblue;">
                    <div id="quotes">
                        <% @p_title.each_with_index do |a,i| %>    
                            <p><b style="color:red"><%= a %></b><br/><%= raw(@p_description[i]) %></p>
                        <% end %>
                    </div>

                </div>
            </div>
        </div>
    </div>        
    <hr>

    <!-- <div class="container"> -->

        <div class="row text-center" style="height:640px">
            <iframe id="frame" frameborder="0" src="/cycle" style="width:1215px;height:1250px;margin-left:20px"></iframe>
        </div>

        <hr>
        <div class="row text-center">
            <img src="/assets/bbcnews.jpg" alt="" style="float:left;margin-left:40px" width="120" height="100"/>
            <div class="ticker well" data-duration="500" data-loop="2" data-effect="linear" style="width:1065px;float:right;margin-right:20px">
                <span>
                    <% @title.each_with_index do |a,i| %>      
                        <b style="color:red"><%= "#{a}" %></b> - <b style="color:black"><%= "#{@description[i]}" %></b> <b style="color:blue">|</b>
                    <%end%>
                </span>
            </div>
        </div>
    <!-- </div> -->
</div>
<script>

    $("#quotes").crotator({
        timeOfExistence: 5,
        cycle: true,
        typeofTag: "<h5/>",
        tagClass: "quotes"
    });

</script>
<script type="text/javascript">
$(document).ready(function () {
    $('#test').weatherfeed(['UKXX0060'],{
        unit: 'f',
        image: true,
        country: true,
        highlow: true,
        wind: true,
        humidity: true,
        visibility: true,
        sunrise: true,
        sunset: true,
        forecast: true,
        link: false
    });
});
</script>
