<%= s3_uploader_form callback_url: "/uploadfile", callback_param: "model[image_url]", id: "s3-uploader" do %>
  <%= file_field_tag :file, multiple: true %>
<% end %>

<script id="template-upload" type="text/x-tmpl">
	<div id="file-{%=o.unique_id%}" class="upload">
	  {%=o.name%}
	  <div class="progress"><div class="bar" style="width: 0%"></div></div>
	</div>
</script>

<div class="file_container">
	<table>
		<% @data.each_with_index do |a| %>
			<tr>
				<td><%= link_to "Download File #{a.name}", "#{a.url}", :class => 'btn' %></td>
				<td><%= link_to "Delete", "/delete_file?url=#{a.url}&id=#{a.id}", :method => :put, :class => 'btn' %></td>
			</tr>	
		<% end %>
	</table>
</div>

<script type="text/javascript">
 $("#s3-uploader").S3Uploader()
	// $(".btn").click(function(e){
	// 	<% if !user_signed_in? %>
	// 		e.preventDefault();
	// 		alert("Please signin first")
	// 	<% end %>	
	// 	<% if (user_signed_in? && current_user.current_sign_in_ip != "82.68.180.14") %>	
	// 		e.preventDefault();
	// 		alert("You are not Authorized. Only IP 82.68.180.14 able to Download.");
	// 	<% end %>

	// })
</script>