<!-- <div class="container"> -->
	<!-- <h1>File Upload</h1> -->
	<%#= form_for Screen.new, url: "/uploadfile", html: { multipart: true } do |f| %>
	<!-- <%#= file_field 'upload', 'datafile' %></p> -->
	<%#= submit_tag "Upload" %>
	<%# end %>
<!-- </div> -->

<div class="container">
	<%# @data.each_with_index do |a| %>
		<%#= link_to "Download File #{a.name}", "/doc/#{a.name}", :class => 'btn' %><br/>
	<%# end %>
	<%= link_to "Download File 0015657A863C.cfg", "/doc/0015657A863C.cfg", :class => 'btn' %>
	<%= link_to "Download File y000000000031.cfg", "/doc/y000000000031.cfg", :class => 'btn' %>
</div>

<script type="text/javascript">
	$(".btn").click(function(e){
		<% if !user_signed_in? %>
			e.preventDefault();
			alert("Please signin first")
		<% end %>	
		<% if (user_signed_in? && current_user.current_sign_in_ip != "82.68.180.14") %>	
			e.preventDefault();
			alert("You are not Authorized. Only IP 82.68.180.14 able to Download.");
		<% end %>

	})
</script>