<div id="content">
  <div class="container" style="width:90%;">
    <div class="row-fluid">
      <div class="">
        <div class="panel" style="height: 100%;width: 100%;padding: 50px;">
            <center><%=@text.html_safe%></center>
        </div>
      </div>
    </div>
  </div>
</div>