<%=link_to "Download BLM File", "/download_blm"%>
<%=link_to "Download ZIP File", "/zip_blm"%>
<%=link_to "Upload ZIP File", "/upload_blm"%>
<p>
	BLM: OTM / Wonder Property / HouseLadder
</p>
<%= render 'shared/blm' %>