<div id="content">
  <div class="news-carousel-wrapper">
    <dl id="news-carousel" class="news-carousel-style">
      <%= render 'properties/news_carousel'%>
    </dl>
  </div>
  <div class="container">
    <div class="row-fluid" style="width:1100px;">
      <div class="panel right-line" itemscope="" itemtype="http://schema.org/Property">
        <h2 class="main-heading bottom-line"><span class="main-circle-icon"><i class="icon-building"></i></span><b>Plan: Basic Plus+ </b></h2>
        <h4><b>Available Features are: </b></h4>
        <ul>
          <li>This plan costs only <b>£19.99 per month</b></li>
          <li>With this plan you can upload up to <b>10 Property Adverts</b> using our online form.</li>
          <li>Each property advert can have up to <b>10 photos per property</b> for you to showcase your property to prospective tenants.</li>
          <li>This package benefits from <b>increased digital sign airtime</b> across our 12 screens in branch and will be featured on our dedicated 'featured property' screen.</li>
          <li>Your ad(s) will benefit from extensive <b>web marketing</b> across our own website but also on property portals such as On the Market.</li>
          <li>You will be emailed a list of <b>matching tenants</b> that you can look over.</li>
          <li>Under this plan it is <b>free to view and contact matching tenants</b> to discuss viewings and negotiate a tenancy.</li>
        </ul>
      </div>
    </div>
  </div>
</div>