<div id="content">
  <div class="news-carousel-wrapper">
    <dl id="news-carousel" class="news-carousel-style">
      <%= render 'properties/news_carousel'%>
    </dl>
  </div>
  <div class="container">
    <div class="row-fluid" style="width:1100px;">
      <div class="panel right-line" itemscope="" itemtype="http://schema.org/Property">
        <h2 class="main-heading bottom-line"><span class="main-circle-icon"><i class="icon-building"></i></span><b>Plan: Free! </b></h2>
        <h4><b>Available Features are: </b></h4>
        <ul>
          <li>3 Free Property Ads</li>
          <li>1 Photo/Property</li>
          <li>Digital Sign airtime</li>
          <li>View Matching Tenants</li>
          <li>Matches Emailed</li>
        </ul>
      </div>
    </div>
  </div>
</div>               
 
          


