<div id="content">
  <div class="news-carousel-wrapper">
    <dl id="news-carousel" class="news-carousel-style">
      <%= render 'properties/news_carousel'%>
    </dl>
  </div>
  <div class="container" style="width:1200px">
    <div class="box-line"> 
        <h1 class="title-heading">Basic Plus+ Plan</h1>
    </div>
    <% a = ["Basic Plus+", "10 Property Adverts", "10 photos per property", "Increased Digital Sign Airtime", "Web Marketing", "Matching Tenants", "Free to view and Contact Matching Tenants"] %>

    <% b = ["This plan costs only <b>£19.99 per month</b>", "With this plan you can upload up to <b>10 Property Adverts</b> using our online form.", "Each property advert can have up to <b>10 photos per property</b> for you to showcase your property to prospective tenants.", "This package benefits from <b>increased digital sign airtime</b> across our 12 screens in branch and will be featured on our dedicated 'featured property' screen.", "Your ad(s) will benefit from extensive <b>web marketing</b> across our own website but also on property portals such as On the Market.", "You will be emailed a list of <b>matching tenants</b> that you can look over.", "Under this plan it is <b>free to view and contact matching tenants</b> to discuss viewings and negotiate a tenancy."] %>

    <div class="row pricing-style1" style="position: absolute">
      <div class="span3">
          <a href=<%="#{user_signed_in? ? '#' : '/users/sign_up' }" %>>  
          <div class="well" style="height:400px">
            <h3 class="title"><span class="">Basic Plus+</span></h3>
            <p class="price"><span class="currency">£</span> <span class="digits">19<span>.99</span></span> <span class="term">/Month</span></p>
            <ul class="unstyled points">
                <li>10 Property Ads</li>
                <li>10 Photos/Property</li>
                <li>Increased Digital Sign Airtime</li>
                <li>Web Marketing</li>
                <li>Free To Contact Matching Tenants</li>
                <li>Matches Emailed</li>
            </ul>
            <% unless user_signed_in? %>
                <a class="btn btn-proper" href="/users/sign_up" style="margin-top:25%">Sign Up</a>
            <%else%>
                <%if current_user.status == "landlord" && current_user.plan == "basic_plus"%>
                    <a class="btn btn-proper" href="#" style="margin-top:25%">My Current Plan</a>
                <%else%>
                    <a class="btn btn-proper" href="/users/sign_up" style="margin-top:25%">Sign Up</a>
                <%end%>    
            <% end %>
          </div>
          </a>  
        </div>
    </div>
    <%a.each_with_index do |n,i|%>
    <div class="row-fluid" style="margin-left:25%;width:75%">
        <div class="span12">
            <div class="new-list ">
                <div class="item panel" style="padding-bottom:0px">
                    <h3 class="title-heading" style="margin-bottom:0;margin-top:5px"><%=n%></h3>
                    <div class="box-panel" style="padding:10px;">
                        <div class="clearfix decs-meta" style="margin:0">
                            <span class="pull-left">
                                <h4><%=b[i].html_safe%></h4>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%end%>
  </div>
</div>