<div id="content">
  <div class="news-carousel-wrapper">
    <dl id="news-carousel" class="news-carousel-style">
      <%= render 'properties/news_carousel'%>
    </dl>
  </div>
  <div class="container">
    <div class="row-fluid" style="width:1100px;">
      <div class="panel right-line" itemscope="" itemtype="http://schema.org/Property">
        <h2 class="main-heading bottom-line"><span class="main-circle-icon"><i class="icon-building"></i></span><b>Plan: Basic </b></h2>
        <div class="row pricing-style1">
          <div class="span11" style="margin:20px">
            <a href="/landlord_free_plan">
              <div class="well" style="">
                  <!-- <h3 class="title">Basic</h3> -->
                  <p class="price">
                    <span class="price" style="width: 54px;margin: 0;display: inline;padding: 20px;float: left;margin-top: -18px;color:black">Free!</span>
                    <span style="color:black;line-height:25px;margin-bottom: 44px !important;">This plan is completely <b>free</b>, the only cost to you is the time it takes for you to complete the form</span>
                  </p>

                  <p class="price">
                    <span class="price" style="width: 132px;margin: 0;display: inline;padding: 20px;float: left;margin-top: -18px;color:black">3 free property ads</span>
                    <span style="color:black;line-height:25px;margin-bottom: 44px !important;">With this plan you can upload <b>3 free property ads</b> from the comfort of your own home by simply filling out the online form.</span>
                  </p>

                  <p class="price">
                    <span class="price" style="width: 162px;margin: 0;display: inline;padding: 20px;float: left;margin-top: -18px;color:black">1 photo per property</span>
                    <span style="color:black;line-height:25px;margin-bottom: 44px !important;">You can upload <b>one photo per property.</b> To upload more photos, and increase the let-ability of your property you will need to upgrade your package subscription.</span>
                  </p>

                  <p class="price">
                    <span class="price" style="width: 146px;margin: 0;display: inline;padding: 20px;float: left;margin-top: -18px;color:black">Digital Sign Airtime</span>
                    <span style="color:black;line-height:25px;margin-bottom: 44px !important;">Your ad will be displayed on our website and on our digital signs in the branch. The <b>digital sign airtime</b> your property receives will provide another platform to promote your property.</span>
                  </p>

                  <p class="price">
                    <span class="price" style="width: 136px;margin: 0;display: inline;padding: 20px;float: left;margin-top: -18px;color:black">Matching Tenants</span>
                    <span style="color:black;line-height:25px;margin-bottom: 44px !important;">You will be emailed a list of <b>matching tenants</b> that you can look over.</span>
                  </p>

                  <p class="price">
                    <span class="price" style="width: 176px;margin: 0;display: inline;padding: 20px;float: left;margin-top: -18px;color:black">View Matching Tenants</span>
                    <span style="color:black;line-height:25px;margin-bottom: 44px !important;">With this plan you will be able to <b>view matching tenants</b>  however you will not be able to contact any matches unless one party, either the landlord or tenant, subscribes to the Basic Plus+ package.</span>
                  </p>
                  <a class="btn btn-proper" href="/pricing" style="width:100px">All Plans</a>
              </div>
            </a>  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>