<div id="content">
  <div class="news-carousel-wrapper">
    <dl id="news-carousel" class="news-carousel-style">
      <%= render 'properties/news_carousel'%>
    </dl>
  </div>

  <div class="container">
    <div class="panel">
      <div class="box-line"> 
          <h1 class="title-heading">Basic Plan</h1>
      </div>
      
      <% a = ['Free!', "3 Free Property Ads", "1 Photo per Property", "Digital Sign Airtime", "Matching Tenants", "View Matching Tenants"] %>
      <% b = ["This plan is completely <b>free</b>, the only cost to you is the time it takes for you to complete the form.", "With this plan you can upload <b>3 free property ads</b> from the comfort of your own home by simply filling out the online form.", "You can upload <b>one photo per property.</b> To upload more photos, and increase the let-ability of your property you will need to upgrade your package subscription.", "Your ad will be displayed on our website and on our digital signs in the branch. The <b>digital sign airtime</b> your property receives will provide another platform to promote your property.", "You will be emailed a list of <b>matching tenants</b> that you can look over.","With this plan you will be able to <b>view matching tenants</b>  however you will not be able to contact any matches unless one party, either the landlord or tenant, subscribes to the Basic Plus+ package."] %>

      <div class="row pricing-style1" style="float:left">
        <div class="span3">
          <a href=<%="#{user_signed_in? ? '#' : '/users/sign_up' }" %>>
            <div class="well">
                <h3 class="title">Basic</h3>
                <p class="price"><span class="">Free!</span></p>
                <ul class="unstyled points">
                    <li>3 Free Property Ads</li>
                    <li>1 Photo/Property</li>
                    <li>Digital Sign airtime</li>
                    <li>View Matching Tenants</li>
                    <li>Matches Emailed</li>
                </ul>
                <% unless user_signed_in? %>
                    <a class="btn btn-proper" href="/users/sign_up" style="margin-top:35%">Sign Up</a>
                <%else%>
                    <%if current_user.status == "landlord" && current_user.plan == "free"%>
                        <a class="btn btn-proper" href="#" style="margin-top:35%">My Current Plan</a>
                    <%else%>
                        <a class="btn btn-proper" href="/users/sign_up" style="margin-top:35%">Sign Up</a>
                    <%end%>    
                <% end %> 
            </div>
          </a>  
        </div>
      
        <%a.each_with_index do |n,i|%>
          <div class="span9 pull-right">
            <div class="new-list ">
              <div class="item panel" style="padding-bottom:0px">
                <h3 class="title-heading" style="margin-bottom:0;margin-top:5px"><%=n%></h3>
                <div class="box-panel" style="padding:10px;">
                  <div class="clearfix decs-meta" style="margin:0">
                    <span class="pull-left">
                      <h4><%=b[i].html_safe%></h4>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>