<div id="content">
  <div class="news-carousel-wrapper">
    <dl id="news-carousel" class="news-carousel-style">
      <%= render 'properties/news_carousel'%>
    </dl>
  </div>
  <div class="container">
    <div class="row-fluid" style="width:1100px;">
      <div class="panel right-line" itemscope="" itemtype="http://schema.org/Property">
        <h2 class="main-heading bottom-line"><span class="main-circle-icon"><i class="icon-building"></i></span><b>Plan: Free! </b></h2>
        <h4><b>Available Features are: </b></h4>
        <ul>
          <li>This plan is completely <b>free</b>, the only cost to you is the time it takes for you to complete the form</li>
          <li>With this plan you can upload <b>3 free property ads<b> from the comfort of your own home by simply filling out the online form.</li>
          <li>You can upload <b>one photo per property.</b> To upload more photos, and increase the let-ability of your property you will need to upgrade your package subscription. </li>
          <li>Your ad will be displayed on our website and on our digital signs in the branch. The <b>digital sign airtime</b> your property receives will provide another platform to promote your property.</li>
          <li>You will be emailed a list of <b>matching tenants</b> that you can look over.</li>
          <li>With this plan you will be able to <b>view matching tenants</b>  however you will not be able to contact any matches unless one party, either the landlord or tenant, subscribes to the Basic Plus+ package. </li>
        </ul>
      </div>
    </div>
  </div>
</div>               
 
          


