
                <!--Start Content-->
                <div id="content">
                    <!--Start Main Title-->
                    <div id="main-title-content">
                        <img src="/assets/properties/slider/fslider/p1.jpg" id="bg" alt="main-title"/>
                        <div class="container">
                            <div class="panel">
                                <h1>Upload Items</h1>
                                <p>Sub Title Here</p>
                            </div>
                        </div>
                    </div> <!--End Main Title-->
                    <!--    News Carousel-->
                    <div class="news-carousel-wrapper">
                        <dl id="news-carousel" class="news-carousel-style">
                          <%= render 'properties/news_carousel'%>
                        </dl>
                    </div>
                    <!--    End News Carousel-->
                    <div class="container" style="width:1200px;">
                      <div class="panel">
                      <br>  <h2><b><center>My Current Plan is: <%= current_user.plan%></center></b></h2>
                      <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-body" style="overflow-y:hidden;max-height:450px">
                        <div class="box-line">
                            <h2 class="title-heading">Please Upgrade your Plan to Continue.</h2>
                        </div>
                        <div class="pricing-style1">
                          <div class="span3">
                            <div class="well">
                              <h3 class="title">Basic</h3>
                              <p class="price"><span class="">Free!</span></p>
                               <ul class="unstyled points">
                                  <li>3 Free Property Ads</li>
                                  <li>1 Photo/Property</li>
                                  <li>Digital Sign airtime</li>
                                  <li>View Matching Tenants</li>
                                  <li>Emailed Matches</li>
                                </ul>
                                  <!-- <a class="btn btn-proper">Sign Up</a>  -->
                            </div>
                          </div>
                          <div class="span3">
                          <a href = "/pay_plans?plan=Pro">
                            <div class="well active">
                              <h3 class="title"><span class="em">Pro</span></h3>
                              <p class="price"><span class="currency">£</span> <span class="digits">99</span> <span class="term">/MO</span></p>
                              <ul class="unstyled points">
                                <li>Tenant Find</li>
                                <li>Professional Photos</li>
                                <li>Free Market Appraisal</li>
                                <li>Agent Escourted Viewings</li>
                                <li>Vetted Tennats Only</li>
                                <li>Digital Sign Airtime</li>
                                <li>Extensive Marketing</li>
                              </ul>
                                  <!--&lt;!&ndash; <a class="btn btn-proper">Sign Up</a>  &ndash;&gt;-->
                            </div>
                          </a>
                          </div>
                          <div class="span3">
                          <a href = "/pay_plans?plan=Pro Plus">
                            <div class="well active">
                              <h3 class="title"><span class="em">Pro Plus+</span></h3>
                              <p class="price">Only <span class="currency">£</span> <span class="digits">30</span> <span class="term">/MO</span></p>
                              <ul class="unstyled points">
                                <li>Fully Managed Service</li>
                                <li>Free Tenant Find</li>
                                <li>Bespoke Portfolio Service</li>
                              </ul>
                                  <!--&lt;!&ndash; <a class="btn btn-proper">Sign Up</a>  &ndash;&gt;-->
                            </div>
                          </a>
                          </div>
                          <div class="span3">
                          <a href = "/pay_plans?plan=Basic Plus">
                            <div class="well">
                            <h3 class="title"><span class="">Basic Plus+</span></h3>
                            <p class="price"><span class="currency">£</span> <span class="digits">19<span>.99</span></span> <span class="term">/MO</span></p>
                            <ul class="unstyled points">
                              <li>10 Property Ads</li>
                              <li>10 Photos/Property</li>                                             <li>Increased Digital Sign Airtime</li>
                              <li>Web Marketing</li>
                              <li>Free To Contact Matching Tenants</li>
                              <li>Emailed Matches</li>
                            </ul>
                                  <!--&lt;!&ndash; <a class="btn btn-proper">Sign Up</a>  &ndash;&gt;-->
                          </div>
                          </a>
                        </div>
                       </div>
                      </div>
                    </div>
                      </div>
                    </div>
                  </div> 
                </div><!--EndContent-->

                <script type="text/javascript">
                    <%# if current_user.status == "landlord" %>
                    // $(".bttn").click(function(e) {
                    //   e.preventDefault();
                    //   $("#myModal").modal();
                    //   $("#myModal").css("z-index",10000)
                    // });
                  <%# end %>
                </script>

                

                