<div id="content">
    <div class="news-carousel-wrapper">
        <dl id="news-carousel" class="news-carousel-style">
            <%= render 'properties/news_carousel'%>
        </dl>
    </div>
    <div class="container">
      <div class="panel">
        <h3><b>PROSPECTIVE SELLER</b></h3>
      
        <table id="landlord_info">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Address</th>
              <th>Phone</th>
              <th>Action</th>
              <th>Plan</th>
            </tr>
          </thead>

          <tbody>
            <% @other_users.each_with_index do |l,i| %>
              <tr>
                <td><%= "#{l.firstname} #{l.lastname}" %></td>
                <td><%= l.email %></td>
                <td></td>
                <td><%= l.contact %></td>
                <td></td>
                <td></td>
              </tr>
            <% end %>

          </tbody>
        </table>
      </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
      // $("#landlord_info").dataTable()
      $('#landlord_info').DataTable( {
          responsive: true
      } );
    })
</script>

<style type="text/css">
  .dataTables_paginate .next{
    position: relative;
    bottom: 0;
    color: white !important;
  }
  select{
    width: 70px;
    float: none;
  }
  tr{
    background-color: #eee !important;
  }
  .bg_color{
    background-color: papayawhip !important
  }
</style>