



      <!--Start Content-->
      <div id="content">
        <!--Start Main Title-->
        <div id="main-title-content">
          <img src="/assets/properties/slider/fslider/p1.jpg" id="bg" alt="main-title"/>
          <div class="container">
            <div class="panel">
              <h1>Upload Items</h1>
              <p>Sub Title Here</p>
            </div>
          </div>
        </div> <!--End Main Title-->
        <!--    News Carousel-->
        <div class="news-carousel-wrapper">
          <dl id="news-carousel" class="news-carousel-style">
            <dt><a href="#">News Link Here</a></dt>
            <dd>Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet.</dd>
            <dt><a href="#">Promo Link Here</a></dt>
            <dd>Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet.</dd>
            <dt><a href="#">Another Link Here</a></dt>
            <dd>Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet.</dd>
          </dl>
        </div>
        <!--    End News Carousel-->
        <div class="container">
          <div class="panel">
            <div class="box-line">
              <h3 class="title-heading">Please complete the form</h3>
            </div>
            <!-- Start List Step Upload-->
            <% if current_user.payment == false %>
              <ul class="unstyled proper-step">
                <li><a href="" ><span>1</span></a></li>
                <li><a href="" class="active"><span>2</span></a></li>
                <li><a href=""><span>3</span></a></li>
              </ul><!-- End List-->
            <% else %>
                <ul class="unstyled proper-step">
                  <li><a href="" class="active" ><span>1</span></a></li>
                  <li><a href="" ><span>2</span></a></li>
                </ul><!-- End List-->
            <% end %>
            <div class="clearfix"></div>
            <%= form_tag("/properties/payment_confirmation", :method=>"post", :remote=>true) do %>
              <div class="proper-form-step-area">
                <div class="proper-singup">
                  <h3 class=""><b>Search Form</b></h3>
                  <div>
                    <%= text_field_tag "search" %>
                  </div>
                  <div><%= submit_tag 'OK', class: "btn btn-proper btn-large" %></div>
                </div>
              </div>

            <% end %>

          </div>
        </div>
      </div><!--EndContent-->

