<div id="content">
  <div class="news-carousel-wrapper">
    <dl id="news-carousel" class="news-carousel-style">
      <%= render 'properties/news_carousel'%>
    </dl>
  </div>
  <div class="container">
    <div class="row-fluid" style="width:1100px;">
      <div class="panel right-line" itemscope="" itemtype="http://schema.org/Property">
        <h2 class="main-heading bottom-line"><span class="main-circle-icon"><i class="icon-building"></i></span><b>Plan: Free! </b></h2>
        <h4><b>Available Features are: </b></h4>
        <ul>
          <li>This plan is completely <b>free</b>, the only cost to you is the time it takes for you to complete the form</li>

          <li>With this plan you can <b>create your own basic profile</b> that Landlords can view.</li>

          <li>You can specify your <b>property requirements</b>, searching our database for your dream home. </li>

          <li><b>Property matches will be emailed</b> to you regularly to show you what we currently have available</li>

          <li>You are free to <b>view property details</b>, however you will not be able to contact any Landlords regarding any property matches unless one party, either the landlord or tenant, subscribes to the Basic+ package.</li> 

        </ul>
      </div>
    </div>
  </div>
</div>