<div id="content">
  <div class="news-carousel-wrapper">
    <dl id="news-carousel" class="news-carousel-style">
      <%= render 'properties/news_carousel'%>
    </dl>
  </div>
  <div class="container">
    <div class="row-fluid" style="width:1100px;">
      <div class="panel right-line" itemscope="" itemtype="http://schema.org/Property">
        <h2 class="main-heading bottom-line"><span class="main-circle-icon"><i class="icon-building"></i></span><b>Plan: Basic Plus </b></h2>
        <div class="row pricing-style1">
          <div class="span11" style="margin:20px">
            <a href="/landlord_free_plan">
              <div class="well" style="">
                  <h3 class="title">Basic Plus</h3>
                  <p class="price"><span class="">Basic Plus</span><br/><span style="color:black;line-height:25px">This plan costs only <b>£19.99 per month.</b></lspan </p>

                  <p class="price"><span class="">create your own extended profile</span><br/><span style="color:black;line-height:25px">With this plan you can <b>create your own extended profile</b>, allowing you to add a photo of yourself and upload references increasing your appeal to our landlords.</span></p>

                  <p class="price"><span class="">specify your property requirements</span><br/><span style="color:black;line-height:25px">You can <b>specify your property requirements</b> and search our database according to your needs.</span></p>

                  <p class="price"><span class="">Property matches will be emailed</span><br/><span style="color:black;line-height:25px"><b>Property matches will be emailed</b> to you regularly.</span></p>

                  <p class="price"><span class="">view property</span><br/><span style="color:black;line-height:25px">You can <b>view property</b> details to learn more about your dream home.</span></p>

                  <p class="price"><span class="">free to contact landlords</span><br/><span style="color:black;line-height:25px">Under this plan it is <b>free to contact landlords</b> about properties you are interested in.<span></p>
              </div>
            </a>  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>