<div id="content">
  <div class="news-carousel-wrapper">
    <dl id="news-carousel" class="news-carousel-style">
      <%= render 'properties/news_carousel'%>
    </dl>
  </div>
  <div class="container">
    <div class="row-fluid" style="width:1100px;">
      <div class="panel right-line" itemscope="" itemtype="http://schema.org/Property">
        <h2 class="main-heading bottom-line"><span class="main-circle-icon"><i class="icon-building"></i></span><b>Plan: Pro </b></h2>
        <h4><b>Available Features are: </b></h4>
        <ul>
          <li>This plan is £199 but is based on a <b>'no let-no fee'</b> guarantee, so there is nothing to pay until SEAL Properties find you your dream home.</li>
          <li>This is a <b>fully managed service</b> in which we will find you your ideal property based on your requirements.</li>
          <li>We will assist you with the <b>vetting process</b>, increasing your appeal to landlords.</li>
        </ul>
      </div>
    </div>
  </div>
</div>