<div id="content">
  <div class="news-carousel-wrapper">
    <dl id="news-carousel" class="news-carousel-style">
      <%= render 'properties/news_carousel'%>
    </dl>
  </div>
  <div class="container">
    <div class="row-fluid" style="width:1100px;">
      <div class="panel right-line" itemscope="" itemtype="http://schema.org/Property">
        <h2 class="main-heading bottom-line"><span class="main-circle-icon"><i class="icon-building"></i></span><b>Plan: Basic Plus </b></h2>
        <h4><b>Available Features are: </b></h4>
        <ul>
          <li>Create a Profile</li>
          <li>Specify Property Requirements</li>
          <li>Emailed Property Matches</li>
          <li>View Property Details</li>
          <li>Free to Contact Landlord</li>
        </ul>
      </div>
    </div>
  </div>
</div>