<ul id="example-2" class="sticklr">
    <li>
        <a href="/bookanappraisal" title="Book an Appraisal" style="background-color: #f66;"><span><b style="color: white">Book an Appraisal</b></span></a>
    </li>
</ul>

<script type="text/javascript">
    $('#example-2').sticklr({
        menuHeight  : 20,
        menuWidth   : 750,
        tabHeight   : 40,
        tabWidth    : 60,
        showOn      : 'hover',
        stickTo     : 'left',
    });
</script>
