<ul id="example-2" class="sticklr">
    <li>
        <a href="/bookanappraisal" title="Book an Appraisal" style="background-color: #f66;" data-method="get">
            <span><center>
                <b style="color: white">
                    <br/>B<br/>O<br/>O<br/>K<br/>
                    <br/>A<br/>N<br/>
                    <br/>A<br/>P<br/>P<br/>R<br/>A<br/>I<br/>S<br/>A<br/>L<br/>
                </b></center>
            </span>
        </a>
    </li>
</ul>

<script type="text/javascript">
    $('#example-2').sticklr({
        menuHeight  : 20,
        menuWidth   : 750,  
        tabHeight   : 340,
        tabWidth    : 30,
        showOn      : 'hover',
        stickTo     : 'left',
    });
</script>
