<div class="row pricing-style1">
    <div class="span3">
      <a href="/landlord_free_plan" <%#="#{user_signed_in? ? '' : '/landlord_free_plan' }" %>>
        <div class="well" style="height:400px">
            <h3 class="title">Basic</h3>
            <p class="price"><span class="">Free!</span></p>
            <ul class="unstyled points">
                <li>3 Free Property Ads</li>
                <li>1 Photo/Property</li>
                <li>Digital Sign airtime</li>
                <li>View Matching Tenants</li>
                <li>Matches Emailed</li>
            </ul>
            <% unless user_signed_in? %>
                <a class="btn btn-proper" href="/users/sign_up" style="margin-top:50%">Sign Up</a>
            <%else%>
                <%if current_user.status == "landlord" && current_user.plan == "free"%>
                    <a class="btn btn-proper" href="#" style="margin-top:50%">My Current Plan</a>
                <%elsif current_user.status == "landlord" && current_user.plan != "free"%>
                    <a class="btn btn-proper" href="/pay_plans?plan=basic" style="margin-top:50%">Upgrade Now</a>
                <%else%>
                    <a class="btn btn-proper" href="/landlord_free_plan" style="margin-top:50%">More Details</a>
                <%end%>    
            <% end %> 
        </div>
      </a>  
    </div>
    <div class="span3">
      <a href="/landlord_pro_plan" <%#= "#{user_signed_in? ? '/pay_plans?plan=Pro' : '/landlord_pro_plan' }" %>>
        <div class="well active" style="height:400px">
            <h3 class="title"><span class="em">Pro</span></h3>
            <p class="price"><span class="currency">£</span> <span class="digits">199</span></p>
            <ul class="unstyled points">
                <li>No Let - No Fee</li>
                <li>Vetted Tenants Only</li>
                <li>Tenant Find</li>
                <li>Professional Photos</li>
                <li>Free Market Appraisal</li>
                <li>Agent Escorted Viewings</li>
                <li>Digital Sign Airtime</li>
                <li>Extensive Marketing</li>
            </ul>
            <% unless user_signed_in? %>
                <a class="btn btn-proper" href="/users/sign_up" style="margin-top:10%">Sign Up</a>
            <%else%>
                <%if current_user.status == "landlord" && current_user.plan == "pro"%>
                    <a class="btn btn-proper" href="#" style="margin-top:10%">My Current Plan</a>
                <%elsif current_user.status == "landlord" && current_user.plan != "pro"%>
                    <a class="btn btn-proper" href="/pay_plans?plan=pro" style="margin-top:10%">Upgrade Now</a>
                <%else%>
                    <a class="btn btn-proper" href="/landlord_pro_plan" style="margin-top:10%">More Details</a>
                <%end%>    
            <% end %>
        </div>  
      </a>    
    </div>
    <div class="span3">
      <a href="/landlord_pro_plus_plan" <%#= "#{user_signed_in? ? '/pay_plans?plan=Pro Plus' : '/landlord_pro_plus_plan' }" %>>
        <div class="well active" style="height:400px">
            <h3 class="title"><span class="em">Pro Plus+</span></h3>
            <p class="price">Only <span class="currency">£</span> <span class="digits">30</span> <span class="term">/Month</span></p>
            <ul class="unstyled points">
                <li>Fully Managed Service</li>
                <li>Free Tenant Find</li>
                <li>Bespoke Portfolio Service</li>
            </ul>
            <% unless user_signed_in? %>
                <a class="btn btn-proper" href="/users/sign_up" style="margin-top:76%">Sign Up</a>
            <%else%>
                <%if current_user.status == "landlord" && current_user.plan == "pro_plus"%>
                    <a class="btn btn-proper" href="#" style="margin-top:76%">My Current Plan</a>
                <%elsif current_user.status == "landlord" && current_user.plan != "pro_plus"%>
                    <a class="btn btn-proper" href="/pay_plans?plan=pro_plus" style="margin-top:76%">Upgrade Now</a>
                <%else%>
                    <a class="btn btn-proper" href="/landlord_pro_plus_plan" style="margin-top:76%">More Details</a>
                <%end%>    
            <% end %>    
        </div> 
      </a>  
    </div>
    <div class="span3">
      <a href="/landlord_basic_plus_plan" <%#= "#{user_signed_in? ? '/pay_plans?plan=Basic Plus' : '/landlord_basic_plus_plan' }" %>>  
      <div class="well" style="height:400px;width:100%">
        <h3 class="title"><span class="">Basic Plus+</span></h3>
        <p class="price"><span class="currency">£</span> <span class="digits">19<span>.99</span></span> <span class="term">/Month</span></p>
        <ul class="unstyled points">
            <li>10 Property Ads</li>
            <li>10 Photos/Property</li>
            <li>Increased Digital Sign Airtime</li>
            <li>Web Marketing</li>
            <li>Free To Contact Matching Tenants</li>
            <li>Matches Emailed</li>
        </ul>
        <% unless user_signed_in? %>
            <a class="btn btn-proper" href="/users/sign_up" style="margin-top:32%">Sign Up</a>
        <%else%>
            <%if current_user.status == "landlord" && current_user.plan == "basic_plus"%>
                <a class="btn btn-proper" href="#" style="margin-top:32%">My Current Plan</a>
            <%elsif current_user.status == "landlord" && current_user.plan != "basic_plus"%>
                <a class="btn btn-proper" href="/pay_plans?plan=Basic Plus" style="margin-top:32%">Upgrade Now</a>
            <%else%>
                <a class="btn btn-proper" href="/landlord_basic_plus_plan" style="margin-top:34%">More Details</a>
            <%end%>    
        <% end %>
      </div>
      </a>  
    </div>
</div>