 <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="left:30%;width:1030px;">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-body" style="overflow-y:hidden;max-height:450px">
                        <div class="box-line">
                            <h2 class="title-heading">Please Upgrade your Plan to Continue.</h2>
                        </div>
                        <div class="pricing-style1">
                          <div class="span3">
                            <div class="well">
                              <h3 class="title">Basic</h3>
                              <p class="price"><span class="">Free!</span></p>
                               <ul class="unstyled points">
                                  <li>3 Free Property Ads</li>
                                  <li>1 Photo/Property</li>
                                  <li>Digital Sign airtime</li>
                                  <li>View Matching Tenants</li>
                                  <li>Emailed Matches</li>
                                </ul>
                                  <!-- <a class="btn btn-proper">Sign Up</a>  -->
                            </div>
                          </div>
                          <div class="span3">
                            <div class="well active">
                              <h3 class="title"><span class="em">Pro</span></h3>
                              <p class="price"><span class="currency">£</span> <span class="digits">99</span> <span class="term">/MO</span></p>
                              <ul class="unstyled points">
                                <li>Tenant Find</li>
                                <li>Professional Photos</li>
                                <li>Free Market Appraisal</li>
                                <li>Agent Escourted Viewings</li>
                                <li>Vetted Tennats Only</li>
                                <li>Digital Sign Airtime</li>
                                <li>Extensive Marketing</li>
                              </ul>
                                  <!--&lt;!&ndash; <a class="btn btn-proper">Sign Up</a>  &ndash;&gt;-->
                            </div>
                          </div>
                          <div class="span3">
                            <div class="well active">
                              <h3 class="title"><span class="em">Pro Plus+</span></h3>
                              <p class="price">Only <span class="currency">£</span> <span class="digits">30</span> <span class="term">/MO</span></p>
                              <ul class="unstyled points">
                                <li>Fully Managed Service</li>
                                <li>Free Tenant Find</li>
                                <li>Bespoke Portfolio Service</li>
                              </ul>
                                  <!--&lt;!&ndash; <a class="btn btn-proper">Sign Up</a>  &ndash;&gt;-->
                            </div>
                          </div>
                          <div class="span3">
                            <div class="well">
                            <h3 class="title"><span class="">Basic Plus+</span></h3>
                            <p class="price"><span class="currency">£</span> <span class="digits">19<span>.99</span></span> <span class="term">/MO</span></p>
                            <ul class="unstyled points">
                              <li>10 Property Ads</li>
                              <li>10 Photos/Property</li>                                             <li>Increased Digital Sign Airtime</li>
                              <li>Web Marketing</li>
                              <li>Free To Contact Matching Tenants</li>
                              <li>Emailed Matches</li>
                            </ul>
                                  <!--&lt;!&ndash; <a class="btn btn-proper">Sign Up</a>  &ndash;&gt;-->
                          </div>
                        </div>
                       </div>
                      </div>
                    </div>
                  </div>
          