 <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="left:30%;width:1030px;">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-body" style="overflow-y:hidden;max-height:450px">
                        <div class="box-line">
                            <h2 class="title-heading">Please Upgrade your Plan to Continue.</h2>
                        </div>
                        <%= render 'shared/tenant_plans'%>
                      </div>
                    </div>
                  </div>
          
          <style>
          #myModal{
            z-index: -1;
          }
          </style>