<ul id="example-1" class="sticklr">
    <li>
        <a href="#" id="call_log" title="Call Log" style="height: 16px; width: 16px;" class="call_log_menu"><span></span></a>
        <ul>
            <li class="call_log"></li>
        </ul>
    </li>

    <li>
        <a href="#" id="call_handler" title="Call Handler" style="height: 16px; width: 16px;" class="call_handler_menu"><span></span></a>
        <ul>
            <li></li>
        </ul>
    </li>
    <li>
        <a href="#" title="Quick SMS" style="height: 16px; width: 16px;" class="quick_sms_menu"><span></span></a>
        <ul>
            <li>
                <div class="sms_container" style="padding: 30px">
                    <div class="alert_msg" style="color: red"></div>
                    <%= text_field_tag :search, params[:sticky_search], class: "search-query", placeholder: "Search", type: "search", data: {autocomplete: users_autocomplete_user_path }, id: 'search_user_sms', style: "margin-left:0px !important;width:50%" %>
                    <h2 style="margin-top: 10px;margin-bottom:10px">
                        <span class="sms_username"></span>
                        <!-- <span class="sms_number"></span> -->
                        <input type="text" class="sms_number" placeholder="Phone Number" />
                    </h2>
                    <textarea style="width: 50%;height:60px" maxlength="50" id="message"></textarea>
                    <div class="row"><div class="btn btn-proper" style="margin-left: 20px" id="send_sms">Send</div></div>
                </div>

                <div class="sent_sms_container" style="padding: 30px; display: none">
                    <div class="success_msg" style="color: green"></div>
                    <div class="row"><div class="btn btn-proper" style="margin-left: 300px;margin-top: 25px" id="new_message">New Message</div></div>
                </div
            </li>
        </ul>
    </li>
    <li>
        <a href="#" title="Receive SMS" style="height: 16px; width: 16px;" class="sms_receive"><span></span></a>
        <ul>
            <li></li>
        </ul>
    </li>
    <li>
        <a href="#" title="Record Search" style="height: 16px; width: 16px;" class="record_search_menu"><span></span></a>
        <ul>
            <li>
                <div class="container" style="padding: 30px">
                    <%= text_field_tag :search, params[:record_search], class: "search-query", type: "search",id: "record_search", data: {autocomplete: '/record_search' }, style: "margin-left:0px !important;width:50%" %>
                    
                    <table class="table" style="width: 75%">
                        <tr>
                            <th></th>
                            <th>Landlord/Buyer</th>
                            <th>Tenant/Seller</th>
                            <!-- <th>Property Contractor</th> -->
                        </tr>
                        <span class="record_search_data"></span>
                    </table>
                </div>
            </li>
        </ul>
    </li>
    <li>
        <a href="#" title="Key" style="height: 16px; width: 16px;" class="key_menu"><span></span></a>
        <ul>
            <li>
                <div class="container" style="padding: 30px; width: 50%">
                    <%= text_field_tag :search, params[:property_search], class: "search-query", placeholder: "Search Property", type: "search", data: {autocomplete: '/property_search' }, id: 'search_property', style: "width:100%" %>
                    <h1 style="padding: 10px">Key Status: <span class="key_status"></span></h1>
                    <h1 style="padding: 10px">Key Number: <span class="key_number"></span></h1>
                </div>
            </li>
        </ul>
    </li>
</ul>

<script type="text/javascript">
    $('#example-1').sticklr({
        menuHeight  : 20,
        menuWidth   : 750,
        tabHeight   : 20,
        tabWidth    : 30,
        showOn      : 'hover',
        stickTo     : 'right',
    });
    
    $("#a_select").click(function(){
        $('#select_number').modal({
        backdrop: 'static',
        keyboard: false
        },'show');
    })

    $('body').on('click','.example-p-2',function(){
        var destination = $(this).html()
        $.confirm({
            title: 'Call',
            content: 
            '<form action="send_sms" data-remote="true" class="form_control">'+
                '<div class="radio"><input type="radio" value="2018480">2018480 Emma/Showroom</div><br>'+
                '<div class="radio"><input type="radio" value="2018481">2018481 Steve/Big Office</div><br>'+
                '<div class="radio"><input type="radio" value="2018700">2018700 Steve Home</div><br>'+
                '<div class="radio"><input type="radio" value="2018701">2018701 Emma Home</div>'+
            '</form>',
            confirmButton: 'Proceed',
            confirmButtonClass: 'btn-info',
            icon: 'fa fa-question-circle',
            animation: 'scale',
            animationClose: 'top',
            opacity: 0.5,
            confirm: function () {
                var extension = $('input[type="radio"]:checked').val();
                $.ajax({ 
                    url: "/make_call?extension="+extension+'&destination='+destination,
                    success: function(){ 
                        // $('#select_number').modal("hide");
                    },
                    error:function(){
                        console.log('error')
                    } 
                })
            }
        });
    });

    // $("#call_handler").mouseover(function(){
    //     $.ajax({
    //         type: 'get',
    //         url: '/get_call_handler',
    //         success: function(res){
    //             console.log(res)
    //             $("#call_handler").next().find("li").html(res)
    //         }
    //     })
    // })

    $('#search_user_sms').bind('railsAutocomplete.select', function(event, data){
        var user_id = data.item.id
        $.ajax({
            url: '/get_user_data',
            dataType: 'json',
            data: {id: user_id}
        })
        .done(function(res) {
            $('.sms_username').html(res.user.first_name+' '+(res.user.last_name == null ? "" : res.user.last_name ))
            $('.sms_number').val(res.user.phone)
            setTimeout(function(){
              $(".quick_sms_menu").trigger('mouseover')
            }, 200);
        })
    })

    $("#send_sms").click(function(){
        $(".alert_msg").html("Sending...")
        var number = $(".sms_number").val() 
        var message = $("#message").val()
        $.ajax({
            type: "get",
            url: "/send_sms_to_user",
            data: "number="+number+"&message="+message,
            success: function(res){
                console.log(res.data)
                // $(".alert_msg").html(res.data)
                $(".sent_sms_container").show()
                $(".success_msg").html(res.data)
                $(".sms_container").hide()
                $("#search_user_sms").val("")
                $("#message").val("")
                $(".sms_username").html("")
                $(".sms_number").val("")
                $(".alert_msg").html("")
                // setTimeout(function() {
                //     $(".alert_msg").slideUp()
                // }, 4000);
            },
            error: function(){
                $(".alert_msg").html("")
            }
        })        
    })

    $("#new_message").click(function(){
        $(".sent_sms_container").hide()
        $(".sms_container").show()
    })

    $('#record_search').bind('railsAutocomplete.select', function(event, data){
        var user_id = data.item.id
        $.ajax({
            url: '/get_user_data',
            dataType: 'json',
            data: {id: user_id}
        })
        .done(function(res) {
            console.log(res)
            if(!($("#record_search").parent().find("table tr")[1] == undefined)){
                $("#record_search").parent().find("table tr")[1].remove()
                $("#record_search").parent().find("table tr")[1].remove()
                $("#record_search").parent().find("table tr")[1].remove()
                $("#record_search").parent().find("table tr")[1].remove()
            }

            if(res.user.status == "landlord"){
                $(
                    "<tr><td> Name</td><td>"+res.user.first_name+"</td><td></td></tr>"+
                    "<tr><td> Contact No</td><td>"+res.user.phone+"</td><td></td></tr>"+
                    "<tr><td> Email</td><td>"+res.user.email+"</td><td></td></tr>"+
                    "<tr><td> </td><td><a class='btn btn-proper' href='/users/"+res.user.id+"'>Go to Record</a></td><td></td></tr>"
                ).insertAfter($("#record_search").parent().find("table tr")[0])
            }else if(res.user.status == "tenant"){
                $(
                    "<tr><td> Name</td><td></td><td>"+res.user.first_name+"</td></tr>"+
                    "<tr><td> Contact No</td><td></td><td>"+res.user.phone+"</td></tr>"+
                    "<tr><td> Email</td><td></td><td>"+res.user.email+"</td></tr>"+
                    "<tr><td> </td><td></td><td><a class='btn btn-proper' href='/users/"+res.user.id+"'>Go to Record</a></td></tr>"
                ).insertAfter($("#record_search").parent().find("table tr")[0])
            }
        })
    })

    $("#call_log").mouseover(function(){
        $.ajax({
            type: 'get',
            url: '/get_call_log',
            success: function(res){
                $(".call_log").html(res)
            }
        })
    })

    $('#search_property').bind('railsAutocomplete.select', function(event, data){
        var property_id = data.item.id
        $.ajax({
            url: '/get_property_data',
            dataType: 'json',
            data: {id: property_id}
        })
        .done(function(res) {
            console.log(res.data)
            if(res.status == "true"){
                $(".key_number").html(res.data.key_number)
            }else{
                $(".key_number").html("")
            }
            if (res.status == "true" && res.data.key_status == "assign"){
                $(".key_status").html("Available")    
            }else{
                $(".key_status").html("Unavailable")
            }
            
        })
    })
</script>
