<div class="row pricing-style1">
    <div class="span3">
      <a href= <%= "#{user_signed_in? ? '' : '/tenant_free_plan' }" %>>
        <div class="well" style="height:326px">
            <h3 class="title">Basic</h3>
            <p class="price"><span class="">Free!</span></p>
            <ul class="unstyled points">
                <li>Create a Profile</li>
                <li>Specify Property Requirements</li>
                <li>Emailed Property Matches</li>
                <li>View Property Details</li>
            </ul>
            <% unless user_signed_in? %>
                <a class="btn btn-proper" href="/users/sign_up" style="margin-top:18%">Sign Up</a>
            <% end %> 
        </div>
      </a>  
    </div>
    <div class="span3">
      <a href= <%= "#{user_signed_in? ? '/pay_plans?plan=Pro' : '/tenant_pro_plan' }" %>>
        <div class="well active" style="height:326px">
            <h3 class="title"><span class="em">Pro</span></h3>
            <p class="price"><span class="currency">£</span> <span class="digits">199</span></p>
            <ul class="unstyled points">
                <li>Fully Managed Property Find</li>
                <li>Vetted Tenants</li>
                <li>SEAL of Approval</li>
                <li>Attractive for Landlords</li>
            </ul>
            <% unless user_signed_in? %>
                <a class="btn btn-proper" href="/users/sign_up" style="margin-top:18%">Sign Up</a>
            <% end %> 
        </div>
      </a>  
    </div>
    <!-- <div class="span3">
        <div class="well active">
            <h3 class="title"><span class="em">Biz</span> <span class="">Plus</span></h3>
            <p class="price"><span class="currency">£</span> <span class="digits">299<span>.95</span></span> <span class="term">/MO</span></p>
            <ul class="unstyled points">
                <li>Unlimited Properties</li>
                <li>Unlimited Free space</li>
                <li>Unlimited Agent</li>
                <li>Featured Properties</li>
            </ul>
            <a class="btn btn-proper">Sign Up</a> </div>
    </div> -->
    <div class="span3">
      <a href= <%= "#{user_signed_in? ? '/pay_plans?plan=Basic Plus' : '/tenant_basic_plus_plan' }" %>>
        <div class="well" style="height:326px">
            <h3 class="title"><span class="">Basic Plus</span></h3>
            <p class="price"><span class="currency">£</span> <span class="digits">19<span>.99</span></span> <span class="term">/Month</span></p>
            <ul class="unstyled points">
                <li>Create a Profile</li>
                <li>Specify Property Requirements</li>
                <li>Emailed Property Matches</li>
                <li>View Property Details</li>
                <li>Free to Contact Landlord</li>
            </ul>
            <% unless user_signed_in? %>
                <a class="btn btn-proper" href="/users/sign_up" style="margin-top:8%">Sign Up</a>
            <% end %> 
        </div>
      </a>  
    </div>
</div>


