
<!--Start Content-->
<div id="content">
  <!--Start Main Title-->
  <div id="main-title-content">
    <img src="proper_theme/images/properties/slider/fslider/p1.jpg" id="bg" alt="main-title"/>
    <div class="container">
      <div class="panel">
        <h1>Landlords</h1>
        <p>We need you!</p>
      </div>
    </div>
  </div> <!--End Main Title-->
  <!--    News Carousel-->
  <div class="news-carousel-wrapper">
    <dl id="news-carousel" class="news-carousel-style">
      <dt><a href="#">News Link Here</a></dt>
      <dd>Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet.</dd>
      <dt><a href="#">Promo Link Here</a></dt>
      <dd>Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet.</dd>
      <dt><a href="#">Another Link Here</a></dt>
      <dd>Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet.</dd>
    </dl>
  </div>
  <!--    End News Carousel-->
  <div class="container">
    <div class="panel">
      <br/>
      <section class="box-white">
        <h1>Register</h1>
        <p>Register you property online or by calling in the shop. It will be marketed instantly on the internet and on our shop display screens. Matching tenants will be contacted imeamdiately via voice automation, sms text messages or email.</p>
      </section>

      <section class="box-white">
        <h2>H2 - Heading</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in</p>

      </section>
      <section class="box-white">
        <h3>H3 - Heading</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in</p>

      </section>


    </div>
  </div>
</div><!--EndContent-->
