
            <!--Start Content-->
            <div id="content">
                <!--Start Main Title-->
                <div id="main-title-content">
                    <img src="assets/properties/slider/fslider/p1.jpg" id="bg" alt="main-title"/>
                    <div class="container">
                        <div class="panel">
                            <h1>Page Not Found</h1>    
                            <p>Sub Title Here</p>    
                        </div>
                    </div>
                </div> <!--End Main Title-->
                <div class="container">
                    <div class="row-fluid">
                        <div class="span1 visible-desktop">                
                            <h2 class="main-heading bottom-line line-after ">&nbsp;</h2>   
                        </div>
                        <div class="span11">
                            <div class="panel left-line">
                                <h2 class="main-heading bottom-line visible-desktop">&nbsp;</h2>   

                                <div class="box-error box-panel">
                                    404
                                    <p>We're sorry, but the page you were looking for doesn't exist.</p>
                                </div>

                                <a href="#" class="btn btn-proper"><i class="icon-angle-left"></i> Back To HomePage</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--EndContent-->            
