<div id="tenancy_term" class="tab-pane fade" style="width:100%;height:100%">
	<div style="float:left;margin:10px;width:24%; padding-left:40px">
	    <h3 style="margin-top:20px;padding:5px"><b>Tenancy Term</b></h3>
  </div>
</div>