<div id="tenancy_history" class="tab-pane fade" style="width:100%;height:100%">
	<div style="float:left;margin:10px;width:35%; padding-left:40px">
		<h3 style="margin-top:10px;padding:5px"><b>Tenancy History</b></h3>

		<% if params[:action] == "edit" %>
			<table class="table">
				<th>Name</th>
				<th>Tenancy start date</th>
				<th>Tenancy end date</th>

				<% @tenancy_history.each do |t| %>
					<tr>
						<td><%= t.name %></td>
						<td><%= t.tenancy_start_date %></td>
						<td><%= t.tenancy_end_date %></td>
					</tr>
				<%end%>
			</table>
		<%end%>
	</div>
</div>