@media (max-width: 992px) {
    .top-nav-bar {
        width: 100% !important;
    }
    .top-nav-logo{
    	width: 100% !important;
    }
    .googleMaparea{
    	display: none;
    }
    .new_landlord_btn{
    	margin-left: 0 !important;
    	margin-top: 0 !important;
    }
}