<% content_for :title do %>
  My super sweet dashboard
<% end %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Image" data-image="logo1.png"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-view="Clock"></div>
      <i class="icon-time icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="tenants" data-view="List" data-unordered="true" data-title="Signed-Up Tenants" style="background-color:mediumseagreen"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="landlords" data-view="List" data-unordered="true" data-title="Signed-Up Landlords" style="background-color:purple"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1.5" data-sizey="1">
      <div data-id="properties" data-view="List" data-unordered="true" data-title="Active properties" style="background-color:lightcoral"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="active_users" data-view="List" data-unordered="true" data-title="Active Users"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="visitors" data-view="List" data-unordered="true" data-title="Visitors" style="background-color:#ff9618;" ></div>
    </li>
  </ul>
</div>
