<script type='text/javascript'>
$(function() {
  Dashing.gridsterLayout('[{"col":1,"row":1},{"col":2,"row":1},{"col":4,"row":1},{"col":5,"row":1},{"col":6,"row":1},{"col":1,"row":2},{"col":2,"row":2},{"col":3,"row":2},{"col":4,"row":2},{"col":5,"row":2},{"col":6,"row":2},{"col":1,"row":3},{"col":2,"row":3},{"col":3,"row":3}]')
  
   Dashing.widget_base_dimensions = [300, 300]
   Dashing.numColumns = 6
  // Dashing.widget_margins = [5, 5]
});
</script>

<% content_for :title do %>
  My super sweet dashboard
<% end %>

<div class="gridster" style="width:1555px !important">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Image" data-image="/logo1.png"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-view="Clock"></div>
      <i class="icon-time icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="tenants" data-view="List" data-unordered="true" data-title="Signed-Up Tenants" style="background-color:mediumseagreen"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="landlords" data-view="List" data-unordered="true" data-title="Signed-Up Landlords" style="background-color:purple"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="properties" data-view="List" data-unordered="true" data-title="Active properties" style="background-color:lightcoral"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="active_users" data-view="List" data-unordered="true" data-title="Active Users"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="visitors" data-view="List" data-unordered="true" data-title="Visitors" style="background-color:#ff9618;" ></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="visitors_unique" data-view="List" data-unordered="true" data-title="Unique Visitors" style="background-color:red;" ></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="visitors_new" data-view="List" data-unordered="true" data-title="New Visitors" style="background-color:maroon;" ></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="page_views" data-view="List" data-unordered="true" data-title="Page Views" style="background-color:mediumseagreen;" ></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="average_action" data-view="List" data-unordered="true" data-title="Average Action" style="background-color:grey;" ></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="average_time" data-view="List" data-unordered="true" data-title="Average Time" style="background-color:brown;" ></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="bounce-rate" data-view="List" data-unordered="true" data-title="Bounce Rate" style="background-color:orange;" ></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="screen_status" data-view="List" data-unordered="true" data-title="Screen Status" style="background-color:orange;" ></div>
    </li>
  </ul>
</div>
