<!-- start Footer -->
<div id="footer-wrapper">
  <!-- start footer-ribon -->
  <div class="container" >
    <div class="footer-ribon">
      <span>Get in Touch</span>
    </div>
  </div><!-- end footer-ribon -->
  <div id="footer-top">
    <div class="container">
      <div class="row-fluid">
        <div class="span3">
          <div class="panel">
            <h4><i class="icon-time"></i> Contact</h4>
            <p>Nullam justo nunc, dignissim at convallis posuere, sodales eu orci.</p>
            <ul class="unstyled">
              <li><i class="icon-home"></i> 167/169, Saltwell Road, NE8 4TJ</li>
              <li><i class="icon-phone"></i> 0191 5805900</li>
              <li><i class="icon-envelope"></i> emma@sealproperties.co.uk</li>
            </ul>


            <a href="#" class="btn-proper btn"><i class="icon-facebook"></i></a>
            <a href="#" class="btn-proper btn"><i class="icon-twitter"></i></a>
            <a href="#" class="btn-proper btn"><i class="icon-google-plus"></i></a>
            <a href="#" class="btn-proper btn"><i class="icon-pinterest"></i></a>


          </div>
        </div>
        <div class="span3">
          <div class="panel">
            <h4><i class="icon-suitcase"> </i> Pages Link</h4>
            <ul class="unstyled list-link">
              <li><a href="#">Condimentum - Condimentum gravida</a></li>
              <li><a href="#">Etiam at - Condimentum gravida</a></li>
              <li><a href="#">Fusce vel - Condimentum gravida</a></li>
              <li><a href="#">Vivamus - Condimentum gravida</a></li>
              <li><a href="#">Pellentesque - Condimentum gravida</a></li>
              <li><a href="#">Fusce vel - Condimentum gravida</a></li>
            </ul>
          </div>
        </div>
        <div class="span3">
          <div class="panel">
            <h4><i class="icon-screenshot"></i> Subscribe</h4>

            <form >
              <label>Full Name</label>
              <input type="text" name="" value="" placeholder="Enter Your Full Name" required=""/>
              <label>Email</label>
              <input type="email" name="" value="" placeholder="Enter Your Email" required=""/>
              <div>
                <button class="btn-proper btn">Send</button>
              </div>



            </form>
          </div>
        </div>
        <div class="span3">
          <div class="panel">
            <h4><i class="icon-trophy"></i> Recent News</h4>
            <ul class="unstyled list-link">
              <li><a href="#">Sed eu leo orci, condimentum gravida metus</a></li>
              <li><a href="#">Etiam at nulla ipsum, in rhoncus purus</a></li>
              <li><a href="#">Fusce vel magna faucibus felis dapibus facilisis</a></li>
              <li><a href="#">Vivamus scelerisque dui in massa</a></li>
              <li><a href="#">Pellentesque eget adipiscing dui semper</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="back-to-top" class="text-center"><a href="#"><i class="icon-angle-up"></i></a></div>
  </div>
  <div id="footer-twit" class="text-center">
    <div class="container">
      <div class="panel">
        <p><i class="icon-twitter icon-4x"></i> <i class="icon-quote-left qoute"></i> Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet ... <i class="icon-quote-right qoute"></i></p>
      </div>
    </div>
  </div>
  <div id="footer" class="text-center">
    <div class="panel">
      <p>Copyright &copy; <a href="#">SEAL Properties 2014 <%= rel %></a> - <a href="/index">Home</a> | <a href="/about_us">About Us</a> | <a href="/faq">FAQ</a> | <a href="/contact">Contact Us</a> | <a href="/career">Careers</a></p>
    </div>
  </div>
</div><!-- end  Footer -->
</div><!-- End Wrapper-->
<!-- Just For Demo You can Remove it if unnecessary-->
<!-- <a href="/custum-bg" class="ajax-demo"><i class="  icon-cogs"></i></a>-->

<!-- Defaut Js Bootsrap
 ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/assets/jquery.js"></script>
<script src="/assets/bootstrap-transition.js"></script>
<script src="/assets/bootstrap-alert.js"></script>
<script src="/assets/bootstrap-modal.js"></script>
<script src="/assets/bootstrap-dropdown.js"></script>
<script src="/assets/bootstrap-scrollspy.js"></script>
<script src="/assets/bootstrap-tab.js"></script>
<script src="/assets/bootstrap-tooltip.js"></script>
<script src="/assets/bootstrap-popover.js"></script>
<script src="/assets/bootstrap-button.js"></script>
<script src="/assets/bootstrap-collapse.js"></script>
<script src="/assets/bootstrap-carousel.js"></script>
<script src="/assets/bootstrap-typeahead.js"></script>
<script src="/assets/spin.min.js"></script>

<!-- Grid -->
<script src="/assets/Grid-A-Licious-master/jquery.grid-a-licious.min.js"></script>

<!-- Slider -->
<script src="/assets/carouFredSel-6.2.1/jquery.carouFredSel-6.2.1-packed.js"></script>
<!-- optionally include helper plugins carouFredSel -->
<script src="/assets/carouFredSel-6.2.1/helper-plugins/jquery.mousewheel.min.js"></script>
<script src="/assets/carouFredSel-6.2.1/helper-plugins/jquery.touchSwipe.min.js"></script>
<script src="/assets/carouFredSel-6.2.1/helper-plugins/jquery.transit.min.js"></script>
<script src="/assets/carouFredSel-6.2.1/helper-plugins/jquery.ba-throttle-debounce.min.js"></script>

<!-- JS GMAP3  -->
<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="/assets/gmap3/gmap3.min.js"></script>

<script src="/assets/colorbox/jquery.colorbox-min.js"></script>
<script src="/assets/proper.js"></script>


</body>
</html>
