<!--Start Main Title-->
<div id="main-title-content">
  <img src="/assets/properties/slider/fslider/p1.jpg" height = "200" id="bg" alt="main-title"/>
  <div class="container">
    <div class="panel">
      <h1><%= maintitle %></h1>
      <p><%= subtitle %></p>
    </div>
  </div>
</div>
<!--End Main Title-->