<!DOCTYPE html>
<html>
    <head>
        <!-- <meta name="p:domain_verify" content="4703b993a3d70d3941b7b0f075d433ac"/> -->
        <%#= display_meta_tags :title => 'SEAL Properties - Rental market specialists' %>
        <%#= display_meta_tags :viewport => "width=device-width, initial-scale=1.0" %>
        <%#= display_meta_tags :keywords => ["Estate","Agents","Rental","Market","Specialist","flats","houses","terraced","maisonette","bungalow","let","sale","rent","Bensham","Saltwell","Gateshead","mortgages","buy to let","buy2let","insurance","buy","vetted","seal","properties","semi","detached","digital signage"] %>
        <%#= display_meta_tags :description => "Family Estate Agents based in Saltwell/Bensham Gateshead, NE8 4TJ Offering a wide range of property from flats, terraced houses to modern bungalows for sale or rent. " %>
        <%#= display_meta_tags :author => "yobio.indiewebstyle.com" %>

        <%#= display_meta_tags :og => {
        :title    => 'SEAL Properties - Rental market specialists',
        :type     => 'property',
        :site_name => 'www.sealproperties.co.uk',
        :url      => request.url,
        :image    => '/assets/logo.png',
        :description => 'Family Estate Agents based in Saltwell/Bensham Gateshead, NE8 4TJ Offering a wide range of property from flats, terraced houses to modern bungalows for sale or rent. '
        } %>
        <title>Proper - Real Estate Responsive Template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="Real Estate Template" />
        <meta name="description" content="Proper - Real Estate Responsive HTML5 Template">
        <meta name="author" content="yobio.indiewebstyle.com">
        <!-- <link rel="alternate" href="http://<%#=request.host_with_port%>" hreflang="en" /> -->

        <!-- Bootstrap -->
        <link href="/assets/mobile/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="/assets/mobile/bootstrap-responsive.min.css" rel="stylesheet">
        <link href="/assets/mobile/style.css" rel="stylesheet" media="screen">
        <link href="/assets/mobile/colorbox.css" rel="stylesheet" media="screen">
        <link href="/assets/mobile/stacktable.css" rel="stylesheet" media="screen">
        <!-- FONTAWESOME STYLE -->
        <link rel="stylesheet" href="/assets/mobile/font-awesome.css"/>
        <!--[if IE 7]>
        <link rel="stylesheet" href="proper_theme/css/font-awesome-ie7.min.css">
        <![endif]-->

        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <link rel="shortcut icon" href="/assets/logo.png">
        <%= csrf_meta_tags %>
    </head>
    <body>
        <script src="/assets/jquery.js"></script>

        <%= render 'layouts/mobile_header' %>
        <%= yield %>
        <%= render 'layouts/mobile_footer' %>
        
        <!-- Defaut Js Bootsrap
         ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <!-- <script src="/assets/jquery.js"></script>-->
        <script src="/assets/bootstrap-transition.js"></script>
        <script src="/assets/bootstrap-alert.js"></script>
        <script src="/assets/bootstrap-modal.js"></script>
        <script src="/assets/bootstrap-dropdown.js"></script>
        <script src="/assets/bootstrap-scrollspy.js"></script>
        <script src="/assets/bootstrap-tab.js"></script>
        <script src="/assets/bootstrap-tooltip.js"></script>
        <script src="/assets/bootstrap-popover.js"></script>
        <script src="/assets/bootstrap-button.js"></script>
        <script src="/assets/bootstrap-collapse.js"></script>
        <script src="/assets/bootstrap-carousel.js"></script>
        <script src="/assets/bootstrap-typeahead.js"></script>


        <!-- Grid -->
        <script src="/assets/jquery.grid-a-licious.min.js"></script>

        <!-- Slider -->
        <script src="/assets/jquery.carouFredSel-6.2.1-packed.js"></script>
        <!-- optionally include helper plugins carouFredSel -->
        <script src="/assets/jquery.mousewheel.min.js"></script>
        <script src="/assets/jquery.touchSwipe.min.js"></script>
        <script src="/assets/jquery.transit.min.js"></script>
        <script src="/assets/jquery.ba-throttle-debounce.min.js"></script>

        <!-- JS GMAP3  -->
        <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
        <script src='/assets/gmap3.min.js'></script>

        <script src="/assets/jquery.colorbox-min.js"></script>
        <script src="/assets/proper.js"></script>


    </body>
</html>
