<html>
  <head>
  
    <link href="/assets/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/assets/jquery.crotator.css" rel="stylesheet" media="screen">
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>

    <script src="/assets/bootstrap.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/jquery.jticker.js"></script>
    <script type="text/javascript" src="/assets/jquery.crotator.js"></script>
  
    <script type="text/javascript">
      jQuery(function($) {
        $('.ticker').jTicker();
      });
    </script>
  
    <style type="text/css">
      .ticker {
        width: 400px;
/*        background-color:#434A53;
*/        color:#fff;
        padding: 20px;
      }
      * { font-family:'roboto Condensed', sans-serif}
      html,body {
      margin:0;
      height:100%
    }
    
    .sky {
      height:auto;
      background:#007fd5;
      position:relative;
      overflow:hidden;
      -webkit-animation:sky_background 100s ease-out infinite;
      -moz-animation:sky_background 100s ease-out infinite;
      -o-animation:sky_background 100s ease-out infinite;
      -webkit-transform:translate3d(0,0,0);
      -moz-transform:translate3d(0,0,0);
      -o-transform:translate3d(0,0,0)
    }
    
    
    .moon {
      background:url("http://montanaflynn.me/lab/css-clouds/images/moon.png");
      position:absolute;
      left:0;
      height:100%;
      width:300%;
      -webkit-animation:moon 50s linear infinite;
      -moz-animation:moon 50s linear infinite;
      -o-animation:moon 50s linear infinite;
      -webkit-transform:translate3d(0,0,0);
      -moz-transform:translate3d(0,0,0);
      -o-transform:translate3d(0,0,0)
    }
    
    
    .clouds_one {
      background:url("http://montanaflynn.me/lab/css-clouds/images/cloud_one.png");
      position:absolute;
      left:0;
      top:0;
      height:100%;
      width:300%;
      -webkit-animation:cloud_one 100s linear infinite;
      -moz-animation:cloud_one 100s linear infinite;
      -o-animation:cloud_one 100s linear infinite;
      -webkit-transform:translate3d(0,0,0);
      -moz-transform:translate3d(0,0,0);
      -o-transform:translate3d(0,0,0)
    }
    
    .clouds_two {
      background:url("http://montanaflynn.me/lab/css-clouds/images/cloud_two.png");
      position:absolute;
      left:0;
      top:0;
      height:100%;
      width:300%;
      -webkit-animation:cloud_two 75s linear infinite;
      -moz-animation:cloud_two 75s linear infinite;
      -o-animation:cloud_two 75s linear infinite;
      -webkit-transform:translate3d(0,0,0);
      -moz-transform:translate3d(0,0,0);
      -o-transform:translate3d(0,0,0)
    }
    
    .clouds_three {
      background:url("http://montanaflynn.me/lab/css-clouds/images/cloud_three.png");
      position:absolute;
      left:0;
      top:0;
      height:100%;
      width:300%;
      -webkit-animation:cloud_three 100s linear infinite;
      -moz-animation:cloud_three 100s linear infinite;
      -o-animation:cloud_three 100s linear infinite;
      -webkit-transform:translate3d(0,0,0);
      -moz-transform:translate3d(0,0,0);
      -o-transform:translate3d(0,0,0)
    }
    
    @-webkit-keyframes sky_background {
      0% {
        background:#007fd5;
        color:#007fd5
      }
      
      50% {
        background:#007fd5;
        color:#007fd5
      }
      
      100% {
        background:#007fd5;
        color:#007fd5
      }
    }
    
    @-webkit-keyframes moon {
      0% {
        opacity: 0;
        left:-200%
        -moz-transform: scale(0.5);
          -webkit-transform: scale(0.5);
      }
      
      50% {
        opacity: 1;
        -moz-transform: scale(1);
        left:0%
        bottom:250px;
          -webkit-transform: scale(1);
      }
    
      100% {
        opacity: 0;
        bottom:500px;
        -moz-transform: scale(0.5);
          -webkit-transform: scale(0.5);
      }
    }
    
    @-webkit-keyframes cloud_one {
      0% {
        left:0
      }
    
      100% {
        left:-200%
      }
    }
    
    @-webkit-keyframes cloud_two {
      0% {
        left:0
      }
    
      100% {
        left:-200%
      }
    }
    
    @-webkit-keyframes cloud_three {
      0% {
        left:0
      }
    
      100% {
        left:-200%
      }
    }
    
    @-moz-keyframes sky_background {
      0% {
        background:#007fd5;
        color:#007fd5
      }
      
      50% {
        background:#000;
        color:#a3d9ff
      }
      
      100% {
        background:#007fd5;
        color:#007fd5
      }
    }
    
    @-moz-keyframes moon {
      0% {
        opacity: 0;
        left:-200%
        -moz-transform: scale(0.5);
          -webkit-transform: scale(0.5);
      }
      
      50% {
        opacity: 1;
        -moz-transform: scale(1);
        left:0%
        bottom:250px;
          -webkit-transform: scale(1);
      }
    
      100% {
        opacity: 0;
        bottom:500px;
        -moz-transform: scale(0.5);
          -webkit-transform: scale(0.5);
      }
    }
    
    @-moz-keyframes cloud_one {
      0% {
        left:0
      }
    
      100% {
        left:-200%
      }
    }
    
    @-moz-keyframes cloud_two {
      0% {
        left:0
      }
    
      100% {
        left:-200%
      }
    }
    
    @-moz-keyframes cloud_three {
      0% {
        left:0
      }
    
      100% {
        left:-200%
      }
    }
    </style>
 
  </head>

  <body>
    <%= yield %>
  </body>

</html>
