<html>
  <head>
  
    <link href="/assets/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/assets/jquery.crotator.css" rel="stylesheet" media="screen">
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>

    <script src="/assets/bootstrap.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/jquery.jticker.js"></script>
    <script type="text/javascript" src="/assets/jquery.crotator.js"></script>
    <script type="text/javascript" src="/assets/jquery.zweatherfeed.js"></script>
  
    <script type="text/javascript">
      jQuery(function($) {
        $('.ticker').jTicker();
      });
    </script>
  
    <style type="text/css">
      .ticker {
        width: 400px;
/*        background-color:#434A53;
*/        color:#fff;
        padding: 20px;
      }
      * { font-family:'roboto Condensed', sans-serif}
      html,body {
      margin:0;
      height:100%
    }
    
    .sky {
      height:auto;
      background:#007fd5;
      position:relative;
      overflow:hidden;
      -webkit-animation:sky_background 100s ease-out infinite;
      -moz-animation:sky_background 100s ease-out infinite;
      -o-animation:sky_background 100s ease-out infinite;
      -webkit-transform:translate3d(0,0,0);
      -moz-transform:translate3d(0,0,0);
      -o-transform:translate3d(0,0,0)
    }
    
    
    .moon {
      background:url("http://montanaflynn.me/lab/css-clouds/images/moon.png");
      position:absolute;
      left:0;
      height:100%;
      width:300%;
      -webkit-animation:moon 50s linear infinite;
      -moz-animation:moon 50s linear infinite;
      -o-animation:moon 50s linear infinite;
      -webkit-transform:translate3d(0,0,0);
      -moz-transform:translate3d(0,0,0);
      -o-transform:translate3d(0,0,0)
    }
    
    
    .clouds_one {
      background:url("http://montanaflynn.me/lab/css-clouds/images/cloud_one.png");
      position:absolute;
      left:0;
      top:0;
      height:100%;
      width:300%;
      -webkit-animation:cloud_one 100s linear infinite;
      -moz-animation:cloud_one 100s linear infinite;
      -o-animation:cloud_one 100s linear infinite;
      -webkit-transform:translate3d(0,0,0);
      -moz-transform:translate3d(0,0,0);
      -o-transform:translate3d(0,0,0)
    }
    
    .clouds_two {
      background:url("http://montanaflynn.me/lab/css-clouds/images/cloud_two.png");
      position:absolute;
      left:0;
      top:0;
      height:100%;
      width:300%;
      -webkit-animation:cloud_two 75s linear infinite;
      -moz-animation:cloud_two 75s linear infinite;
      -o-animation:cloud_two 75s linear infinite;
      -webkit-transform:translate3d(0,0,0);
      -moz-transform:translate3d(0,0,0);
      -o-transform:translate3d(0,0,0)
    }
    
    .clouds_three {
      background:url("http://montanaflynn.me/lab/css-clouds/images/cloud_three.png");
      position:absolute;
      left:0;
      top:0;
      height:100%;
      width:300%;
      -webkit-animation:cloud_three 100s linear infinite;
      -moz-animation:cloud_three 100s linear infinite;
      -o-animation:cloud_three 100s linear infinite;
      -webkit-transform:translate3d(0,0,0);
      -moz-transform:translate3d(0,0,0);
      -o-transform:translate3d(0,0,0)
    }
    
    @-webkit-keyframes sky_background {
      0% {
        background:#007fd5;
        color:#007fd5
      }
      
      50% {
        background:#007fd5;
        color:#007fd5
      }
      
      100% {
        background:#007fd5;
        color:#007fd5
      }
    }
    
    @-webkit-keyframes moon {
      0% {
        opacity: 0;
        left:-200%
        -moz-transform: scale(0.5);
          -webkit-transform: scale(0.5);
      }
      
      50% {
        opacity: 1;
        -moz-transform: scale(1);
        left:0%
        bottom:250px;
          -webkit-transform: scale(1);
      }
    
      100% {
        opacity: 0;
        bottom:500px;
        -moz-transform: scale(0.5);
          -webkit-transform: scale(0.5);
      }
    }
    
    @-webkit-keyframes cloud_one {
      0% {
        left:0
      }
    
      100% {
        left:-200%
      }
    }
    
    @-webkit-keyframes cloud_two {
      0% {
        left:0
      }
    
      100% {
        left:-200%
      }
    }
    
    @-webkit-keyframes cloud_three {
      0% {
        left:0
      }
    
      100% {
        left:-200%
      }
    }
    
    @-moz-keyframes sky_background {
      0% {
        background:#007fd5;
        color:#007fd5
      }
      
      50% {
        background:#007fd5;
        color:#007fd5
      }
      
      100% {
        background:#007fd5;
        color:#007fd5
      }
    }
    
    @-moz-keyframes moon {
      0% {
        opacity: 0;
        left:-200%
        -moz-transform: scale(0.5);
          -webkit-transform: scale(0.5);
      }
      
      50% {
        opacity: 1;
        -moz-transform: scale(1);
        left:0%
        bottom:250px;
          -webkit-transform: scale(1);
      }
    
      100% {
        opacity: 0;
        bottom:500px;
        -moz-transform: scale(0.5);
          -webkit-transform: scale(0.5);
      }
    }
    
    @-moz-keyframes cloud_one {
      0% {
        left:0
      }
    
      100% {
        left:-200%
      }
    }
    
    @-moz-keyframes cloud_two {
      0% {
        left:0
      }
    
      100% {
        left:-200%
      }
    }
    
    @-moz-keyframes cloud_three {
      0% {
        left:0
      }
    
      100% {
        left:-200%
      }
    }
    </style>
    <style type="text/css">
      /*.weatherItem { width: 450px; height: 200px; background-position: left center; }*/
      .weatherForecastItem { margin-top: 1em;  font-size: 0.9em; }
      /*.weatherLink { margin-top: 1em; }*/

      .weatherForecast {}
      .weatherForecastItem { float: left; margin: 1em 1em 0em 0; padding-right: 1em;  }
      .weatherForecastItem { position:relative;
  overflow:hidden;  
  height: 80px;   
  width: 100px;
  border: 4px solid #555;
  background: #222 url('bg.jpg') repeat-x; }
      /*.weatherLink { clear: both; }*/

/*body {
  margin: 1em 3em;
  font-family: Tahoma, Genevam, sans-serif;
}
*/
.weatherFeed {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 90%;
  margin: 2em 3em;
  width: 280px;
  color: #ccc;
}
.weatherFeed a { color: #888; }
.weatherFeed a:hover {
  color: #eee;
  text-decoration: none;
}
.weatherItem {
  padding: 0.8em;
  text-align: right;
}
.weatherCity { text-transform: uppercase; color: #000; }
.weatherTemp {
  font-size: 2.8em;
  font-weight: bold;
  color: #eee;
}
.weatherDesc, .weatherCity { font-weight: bold; }
.weatherDesc { margin-bottom: 0.4em; color: #eee; }
.weatherRange, .weatherWind { font-size: 0.8em; }
.weatherLink {
  margin-top: 6px;
  text-align: left;
  font-size: 0.8em;
}

.vertical {  
  position:relative;
  overflow:hidden;  
  height: 225px;   
  width: 670px;
  border: 4px solid #555;
  background: #222 url('bg.jpg') repeat-x;
}

.items {
  position:absolute;
  height:20000em; 
  margin: 0px;
}
.items div.weatherItem { height: 160px; }
.weatherCity, .weatherCountry, .weatherTemp, .weatherDesc, .weatherRange{ width: 384px}
.weatherWind{ width: 575px; margin-top: -100px} 
.weatherHumidity,.weatherVisibility, .weatherSunrise, .weatherSunset { width: 575px}

.quotes img {width: 100px;height: 100px}
</style>
<style>
    #frame { width: 1230px; height: 1300px; border: 1px solid black; }
    #frame {
        -ms-zoom: 0.5;
        -moz-transform: scale(0.5);
        -moz-transform-origin: 0 0;
        -o-transform: scale(0.5);
        -o-transform-origin: 0 0;
        -webkit-transform: scale(0.5);
        -webkit-transform-origin: 0 0;
    }
</style>
 
  </head>

  <body>
    <%= yield %>
  </body>

</html>
